{% extends "layout.html" %} {% set active_page = "sportclub" %} {% block content %}
    <main class="page-content">
        <div
                class="
      page-navigation
      inner-navigation
      bordered
      list-group
      text-center text-blue
      justify-content-sm-center
      p-0
    "
        >
            <a
                    href="{{ url_for('sport_club_page1') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
        active
      "
            >
                Наша миссия
            </a>
            <a
                    href="{{ url_for('sport_club_page2') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                Достижения
            </a>
            <a
                    href="{{ url_for('sport_club_page3') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                История
            </a>
            <a
                    href="{{ url_for('sport_club_page4') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                Семья
            </a>
        </div>
        <div class="body-colour mt-0 pt-0">
            <div class="container">
                <div class="embed-responsive embed-responsive-16by9 radius">
                    <iframe
                            class="embed-responsive-item"
                            src="https://www.youtube.com/embed/XHLxp8ZnVy0"
                            allowfullscreen
                    ></iframe>
                </div>

                <p class="sportsclub-title pt-4">Наша миссия</p>
                <p class="sportsclub-main-text text-justify">
                    Ut cursus rhoncus viverra aenean euismod integer nunc. Pulvinar
                    convallis gravida nibh nullam. Viverra egestas volutpat, risus, etiam
                    nulla. Faucibus vitae amet, nulla consequat, et pulvinar lectus
                    ultrices. Fusce fringilla nunc lectus interdum. <br/>
                    Varius et, tincidunt aliquam sed. Sed et ornare aliquet convallis
                    vulputate morbi nibh. Est lectus tempus, orci enim, proin adipiscing
                    turpis ornare. Ipsum vestibulum, arcu elit amet at in feugiat dignissim.
                    A, sem aliquam in volutpat consectetur erat ac volutpat accumsan.
                    Dictumst nibh et nunc aliquet varius id sagittis. Ipsum sit nisi, mattis
                    odio est.
                    <br/>
                    Dignissim luctus libero sed adipiscing. Consectetur ut scelerisque quam
                    mauris blandit aliquam tristique. Pretium sed ut porttitor sed vulputate
                    diam. Commodo sed sociis arcu amet quam sed vel, porta sed. Facilisis
                    quam consequat eleifend risus cursus ipsum sapien rhoncus. Elementum,
                    eget auctor id sit aenean elit vel. Dictum vitae blandit cras egestas
                    ullamcorper vestibulum, libero varius. <br/>
                    Diam iaculis neque vulputate ac facilisi vel eget at vestibulum. Laoreet
                    in mi quis vitae diam. Sed viverra sit eu velit suspendisse vulputate
                    est in. Nisi eget aliquet scelerisque ipsum purus curabitur et a.
                    Integer porta quisque quis duis molestie elementum. Sit felis
                    ullamcorper imperdiet sed sit turpis. Malesuada adipiscing dignissim sed
                    faucibus sagittis dolor, integer in ultricies. Euismod neque dui sed
                    non. A ac leo turpis nibh in purus. Ut venenatis semper amet sem blandit
                    ipsum. <br/>
                </p>
                <div class="row advert d-flex justify-content-between align-items-center">
                    <img id="image1" src="../../static/images/22 1.png" alt="woman"/>
                    <div class="text">
                        <p>Ещё не с нами? Присоединяйся</p>
                        <a href="{{ url_for('sport_club_page1') }}">
                            <button class="btn">Вступить в спортклуб</button>
                        </a>
                    </div>
                    <img id="image2" src="../../static/images/23 1.png" alt="man & woman"/>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
