{% extends "layout.html" %}
{% set active_page = "sportclub" %}
{% block content %}
    <main class="page-content">
        <div
                class="
      page-navigation
      inner-navigation
      list-group
      text-center text-blue
      mb-4
      justify-content-center
    "
        >
            <a
                    href="{{ url_for('sport_club_page1') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center

      "
            >
                <div class="align-self-center">Наша миссия</div>
            </a>
            <a
                    href="{{ url_for('sport_club_page2') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                <div class="align-self-center">Достижения</div>
            </a>
            <a
                    href="{{ url_for('sport_club_page3') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                <div class="align-self-center">История</div>
            </a>
            <a
                    href="{{ url_for('sport_club_page4') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
        active
      "
            >
                <div class="align-self-center">Семья</div>
            </a>
        </div>
        <div class="bg bg2 py-5">
            <div class="container">
                <h2>Семья спортклуба</h2>
                <h6>#preview #omg #test</h6>
            </div>
        </div>
        <div class="body-colour pt-4">
            <div class="container">
                <div class="row mr-0 ml-0">
                    <div class="col-12 col-md-3 albums">
                        <div class="outer-navigation list-group text-center text-blue">
                            <a href="{{ url_for('sport_club_page5') }}" class="list-group-item list-group-item-action"
                            >Руководители</a
                            >
                            <a
                                    href="{{ url_for('sport_club_page4') }}"
                                    class="list-group-item list-group-item-action active"
                                    aria-current="true"
                            >Активисты</a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            >Легенды</a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            >Менеджеры</a
                            >
                        </div>
                        <div class="inner-navigation list-group text-center text-blue">
                            <a href="{{ url_for('sport_club_page5') }}" class="list-group-item list-group-item-action"
                            >Руководители</a
                            >
                            <a
                                    href="{{ url_for('sport_club_page4') }}"
                                    class="list-group-item list-group-item-action active"
                                    aria-current="true"
                            >Активисты</a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            >Легенды</a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            >Менеджеры</a
                            >
                        </div>
                    </div>
                    <div class="col-12 col-md-9">
                        <img
                                class="img-fluid pr-2 pl-2 pb-4"
                                src="/static/images/Rectangle 270.png"
                        />

                        <div class="row mr-0 ml-0">
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 460.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Bessie Cooper
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 462.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Savannah Nguyen
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 463.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Jenny Wilson
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 467.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Ralph Edwards
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 460.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Dianne Russell
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <a href="">
                                    <div class="img-gradient">
                                        <img
                                                class="card-img-top"
                                                src="/static/images/Rectangle 462.png"
                                        />
                                    </div>
                                    <div class="card-img-overlay d-flex flex-column">
                                        <p class="sportsclub-family-activists mt-auto">
                                            Darlene Robertson
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
