{% extends "layout.html" %} {% set active_page = "sportclub" %} {% block content %}
    <main class="page-content">
        <div
                class="
      page-navigation
      inner-navigation
      bordered
      list-group
      text-center text-blue
      justify-content-sm-center
      p-0
    "
        >
            <a
                    href="{{ url_for('sport_club_page1') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center

      "
            >
                Наша миссия
            </a>
            <a
                    href="{{ url_for('sport_club_page2') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                Достижения
            </a>
            <a
                    href="{{ url_for('sport_club_page3') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
        active
      "
            >
                История
            </a>
            <a
                    href="{{ url_for('sport_club_page4') }}"
                    class="
        list-group-item list-group-item-action
        d-flex
        justify-content-center
      "
            >
                Семья
            </a>
        </div>
        <div class="bg bg1 py-5">
            <div class="container">
                <h2>История спортклуба</h2>
                <h6>#preview #omg #test</h6>
            </div>
        </div>
        <div class="body-colour pt-sm-4">
            <div class="container">
                <div class="row mx-0">
                    <div class="col-12 col-md-3 pr-md-4 mb-5 mb-md-0 albums">
                        <div class="outer-navigation list-group text-center text-blue">
                            <a
                                    href="#"
                                    class="list-group-item list-group-item-action active"
                                    aria-current="true"
                            >2020</a
                            >
                            <a href="#" class="list-group-item list-group-item-action">2019</a>
                            <a href="#" class="list-group-item list-group-item-action">2018</a>
                            <a href="#" class="list-group-item list-group-item-action">2017</a>
                        </div>
                        <div class="inner-navigation list-group text-center text-blue">
                            <a
                                    href="#"
                                    class="list-group-item list-group-item-action active"
                                    aria-current="true"
                            ><span>2020</span></a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            ><span>2019</span></a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            ><span>2018</span></a
                            >
                            <a href="#" class="list-group-item list-group-item-action"
                            ><span>2017</span></a
                            >
                        </div>
                    </div>

                    <div class="col-12 col-md-9 p-0">
                        <p class="sportsclub-history-title">2019 год</p>

                        <p class="sportsclub-main-text text-justify">
                            Ut cursus rhoncus viverra aenean euismod integer nunc. Pulvinar
                            convallis gravida nibh nullam. Viverra egestas volutpat, risus,
                            etiam nulla. Faucibus vitae amet, nulla consequat, et pulvinar
                            lectus ultrices. Fusce fringilla nunc lectus interdum. <br/>
                            Varius et, tincidunt aliquam sed. Sed et ornare aliquet convallis
                            vulputate morbi nibh. Est lectus tempus, orci enim, proin adipiscing
                            turpis ornare. Ipsum vestibulum, arcu elit amet at in feugiat
                            dignissim. A, sem aliquam in volutpat consectetur erat ac volutpat
                            accumsan. Dictumst nibh et nunc aliquet varius id sagittis. Ipsum
                            sit nisi, mattis odio est. <br/>
                            Dignissim luctus libero sed adipiscing. Consectetur ut scelerisque
                            quam mauris blandit aliquam tristique. Pretium sed ut porttitor sed
                            vulputate diam. Commodo sed sociis arcu amet quam sed vel, porta
                            sed. Facilisis quam consequat eleifend risus cursus ipsum sapien
                            rhoncus. Elementum, eget auctor id sit aenean elit vel. Dictum vitae
                            blandit cras egestas ullamcorper vestibulum, libero varius. <br/>
                            Diam iaculis neque vulputate ac facilisi vel eget at vestibulum.
                            Laoreet in mi quis vitae diam. Sed viverra sit eu velit suspendisse
                            vulputate est in. Nisi eget aliquet scelerisque ipsum purus
                            curabitur et a. Integer porta quisque quis duis molestie elementum.
                            Sit felis ullamcorper imperdiet sed sit turpis. Malesuada adipiscing
                            dignissim sed faucibus sagittis dolor, integer in ultricies. Euismod
                            neque dui sed non. A ac leo turpis nibh in purus. Ut venenatis
                            semper amet sem blandit ipsum. <br/>
                        </p>

                        <img
                                class="img-fluid pt-4 pb-4"
                                src="/static/images/Rectangle 270.png"
                        />

                        <p class="sportsclub-main-text text-justify">
                            Ut cursus rhoncus viverra aenean euismod integer nunc. Pulvinar
                            convallis gravida nibh nullam. Viverra egestas volutpat, risus,
                            etiam nulla. Faucibus vitae amet, nulla consequat, et pulvinar
                            lectus ultrices. Fusce fringilla nunc lectus interdum. <br/>
                            Varius et, tincidunt aliquam sed. Sed et ornare aliquet convallis
                            vulputate morbi nibh. Est lectus tempus, orci enim, proin adipiscing
                            turpis ornare. Ipsum vestibulum, arcu elit amet at in feugiat
                            dignissim. A, sem aliquam in volutpat consectetur erat ac volutpat
                            accumsan. Dictumst nibh et nunc aliquet varius id sagittis. Ipsum
                            sit nisi, mattis odio est. <br/>
                            Dignissim luctus libero sed adipiscing. Consectetur ut scelerisque
                            quam mauris blandit aliquam tristique. Pretium sed ut porttitor sed
                            vulputate diam. Commodo sed sociis arcu amet quam sed vel, porta
                            sed. Facilisis quam consequat eleifend risus cursus ipsum sapien
                            rhoncus. Elementum, eget auctor id sit aenean elit vel. Dictum vitae
                            blandit cras egestas ullamcorper vestibulum, libero varius. <br/>
                            Diam iaculis neque vulputate ac facilisi vel eget at vestibulum.
                            Laoreet in mi quis vitae diam. Sed viverra sit eu velit suspendisse
                            vulputate est in. Nisi eget aliquet scelerisque ipsum purus
                            curabitur et a. Integer porta quisque quis duis molestie elementum.
                            Sit felis ullamcorper imperdiet sed sit turpis. Malesuada adipiscing
                            dignissim sed faucibus sagittis dolor, integer in ultricies. Euismod
                            neque dui sed non. A ac leo turpis nibh in purus. Ut venenatis
                            semper amet sem blandit ipsum. <br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
