{% extends "layout.html" %} {% block content %}
<div class="body-colour">
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/XHLxp8ZnVy0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="body-width">
      <div class="page-title">
        Девушки из сборной по волейболу совсем скоро начнут свои первые матчи в
        МССИ
      </div>
      <p class="hashtag">#ssc_alliance #асск #студенческийспорт</p>

      <div class="row date-margin">
        <div class="col pl-0">
          <p class="date">15 октября 2020</p>
        </div>
        <div class="col d-flex justify-content-end pr-0">
          <img class="eye-icon pr-1" src="/static/images/eye.svg" />
          <p class="date">999,999</p>
        </div>
      </div>

      <p class="main-text text-justify">
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursus <br />
        Cursus maecenas placerat facilisis quisque pretium ut euismod. Sit diam,
        nunc luctus at. Libero egestas urna nisi pulvinar sit libero ut
        imperdiet. Nunc mi cum nunc, sit scelerisque aliquam elementum, nunc.
        Morbi suscipit quam et facilisis interdum tellus enim, neque. Faucibus
        nullam vitae fringilla cras phasellus tincidunt bibendum ante. Fermentum
        nunc, blandit donec phasellus metus ultricies arcu turpis. Elementum
        nulla viverra non porttitor nascetur. Mattis habitant tempus, urna
        commodo facilisis fermentum. <br />
        Urna nulla sit netus ullamcorper lobortis. In accumsan fermentum
        fermentum ipsum blandit egestas. Varius mattis vitae suspendisse in
        dignissim id arcu sed. Sociis sit aliquet at nisl porttitor. Amet
        nascetur nunc, non nam. Sed adipiscing mauris tortor, suspendisse nisi
        volutpat pellentesque nisi et. Laoreet morbi nibh neque eu in sit.
        Semper quam viverra netus non ut pellentesque. Convallis nunc neque,
        erat tincidunt metus, sit sed.
      </p>

      <img
        class="img-fluid mt-2"
        src="/static/images/Rectangle 41.png"
        alt="sport"
      />

      <h4 class="sub-title">Nunc luctus</h4>

      <p class="main-text text-justify">
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursus Nunc luctus tristique
        cras sed imperdiet in eget. Lorem amet, risus augue mauris iaculis mi.
        Aliquet eget leo posuere semper nec at ac, etiam. Orci tristique fusce
        aenean eget et id pellentesque in. Vivamus nisl bibendum tristique
        tristique amet, in lectus felis. At eget aenean vitae enim. Et,
        pellentesque neque commodo cursus<br />
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursus<br />
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursusNunc luctus tristique
        cras sed imperdiet in eget. Lorem amet, risus augue mauris iaculis mi.
        Aliquet eget leo posuere semper nec at ac, etiam. Orci tristique fusce
        aenean eget et id pellentesque in. Vivamus nisl bibendum tristique
        tristique amet, in lectus felis. At eget aenean vitae enim. Et,
        pellentesque neque commodo cursusNunc luctus tristique cras sed
        imperdiet in eget. Lorem amet, risus augue mauris iaculis mi. Aliquet
        eget leo posuere semper nec at ac, etiam. Orci tristique fusce aenean
        eget et id pellentesque in. Vivamus nisl bibendum tristique tristique
        amet, in lectus felis. At eget aenean vitae enim. Et, pellentesque neque
        commodo cursus<br />
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursus<br />
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim.
      </p>

      <h4 class="sub-title">Nunc luctus</h4>

      <p class="main-text text-justify">
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim.Nunc luctus tristique cras sed imperdiet in eget. Lorem amet,
        risus augue mauris iaculis mi. Aliquet eget leo posuere semper nec at
        ac, etiam. Orci tristique fusce aenean eget et id pellentesque in.
        Vivamus nisl bibendum tristique tristique amet, in lectus felis. At eget
        aenean vitae enim.
      </p>
    </div>
  </div>

  <!-- Slider -->

  <div class="rs-team style1 nav-style pt-92 pb-100 md-pt-72 md-pb-80">
    <div class="container-fluid">
      <div
        class="rs-carousel owl-carousel"
        data-loop="true"
        data-items="3"
        data-margin="5"
        data-autoplay="true"
        data-autoplay-timeout="8000"
        data-smart-speed="2000"
        data-dots="true"
        data-nav="true"
        data-nav-speed="false"
        data-mobile-device="1"
        data-mobile-device-nav="false"
        data-mobile-device-dots="false"
        data-ipad-device="2"
        data-ipad-device-nav="false"
        data-ipad-device-dots="false"
        data-ipad-device2="2"
        data-ipad-device-nav2="false"
        data-ipad-device-dots2="false"
        data-md-device="3"
        data-md-device-nav="true"
        data-md-device-dots="true"
      >
        <div class="player-item">
          <div class="player-img">
            <img src="http://placehold.it/500/e499e4/fff&amp;text=1" alt="" />
          </div>
        </div>
        <div class="player-item">
          <div class="player-img">
            <img src="http://placehold.it/500/e499e4/fff&amp;text=2" alt="" />
          </div>
        </div>
        <div class="player-item">
          <div class="player-img">
            <img src="http://placehold.it/500/e499e4/fff&amp;text=3" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pb-4">
    <div class="row socials" style="width: 90%; margin: 2.5rem auto 0 auto">
      <div class="col-12 col-sm-6">
        <p class="pt-1 title">Поделиться</p>
      </div>
      <div class="col-12 col-sm-6 icons">
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram-plane"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container pb-4">
    <p class="feature-title">Вам может быть интересно</p>
    <div class="card-deck">
      <div class="card card-shadow zoom-img">
        <div class="">
          <img
            class="card-img-top"
            src="/static/images/Rectangle 38.png"
            alt="img3"
          />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">
            Мужская сборная по волейболу выиграла в любительской волейбольной
            лиге
          </h5>
          <i class="card-hashtag">#ssc_alliance #асск #студенческийспорт</i>
          <div class="row mt-auto">
            <div class="col p-0">
              <i class="card-date">15 окт</i>
            </div>
            <div class="col text-right p-0">
              <img class="eye-icon" src="/static/images/eye.svg" />
              <i class="card-date">999,999</i>
            </div>
          </div>
        </div>
      </div>
      <div class="card zoom-img card-shadow">
        <div class="img-gradient">
          <img
            class="card-img-top"
            src="/static/images/Rectangle 17.png"
            alt="img4"
          />
        </div>
        <div class="card-img-overlay d-flex flex-column">
          <h5 class="card-overlay-title mt-auto">
            Футбольный клуб МИРЭА на АССК.фест 2020!
          </h5>
          <i class="card-overlay-hashtag"
            >#ssc_alliance #асск #студенческийспорт</i
          >
          <div class="row">
            <div class="col p-0">
              <i class="card-overlay-date">15 окт</i>
            </div>
            <div class="col text-right p-0">
              <img class="eye-icon" src="/static/images/eye.svg" />
              <i class="card-overlay-date">999,999</i>
            </div>
          </div>
        </div>
      </div>
      <div
        class="w-100 d-none d-sm-block d-md-block d-lg-block d-xl-none"
      ></div>
      <div class="card card-shadow zoom-img">
        <div class="">
          <img
            class="card-img-top"
            src="/static/images/Rectangle 34.png"
            alt="img5"
          />
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">ДИАЛОГ АЛЬЯНСА | вопрос-ответ 💭</h5>
          <i class="card-hashtag">#ssc_alliance #асск #студенческийспорт</i>
          <div class="row mt-auto">
            <div class="col p-0">
              <i class="card-date">15 окт</i>
            </div>
            <div class="col text-right p-0">
              <img class="eye-icon" src="/static/images/eye.svg" />
              <i class="card-date">999,999</i>
            </div>
          </div>
        </div>
      </div>
      <div class="card zoom-img card-shadow">
        <div class="img-gradient">
          <img
            class="card-img-top"
            src="/static/images/Rectangle 44.png"
            alt="img6"
          />
        </div>
        <div class="card-img-overlay d-flex flex-column">
          <h5 class="card-overlay-title mt-auto">
            Наши девочки из сборной по черлидингу «Alliance teamcheer»
          </h5>
          <i class="card-overlay-hashtag"
            >#ssc_alliance #асск #студенческийспорт</i
          >
          <div class="row">
            <div class="col p-0">
              <i class="card-overlay-date">15 окт</i>
            </div>
            <div class="col text-right p-0">
              <img class="eye-icon" src="/static/images/eye.svg" />
              <i class="card-overlay-date">999,999</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
