{% extends "layout.html" %} {% set active_page = "market" %} {% block content %}
<div class="body-colour">
  <div class="container">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe
        class="embed-responsive-item"
        src="https://www.youtube.com/embed/XHLxp8ZnVy0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="body-width">
      <div class="page-title">Gold’s Gym Dinamo Moscow</div>
      <i class="hashtag">#preview #omg #test</i>

      <div class="row date-margin">
        <div class="col pl-0">
          <i class="date">15 октября 2020</i>
        </div>
        <div class="col text-right pr-0">
          <img class="eye-icon" src="/static/images/eye.svg" />
          <i class="date">999,999</i>
        </div>
      </div>

      <p class="main-text text-justify">
        Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus
        augue mauris iaculis mi. Aliquet eget leo posuere semper nec at ac,
        etiam. Orci tristique fusce aenean eget et id pellentesque in. Vivamus
        nisl bibendum tristique tristique amet, in lectus felis. At eget aenean
        vitae enim. Et, pellentesque neque commodo cursus <br />
        Cursus maecenas placerat facilisis quisque pretium ut euismod. Sit diam,
        nunc luctus at. Libero egestas urna nisi pulvinar sit libero ut
        imperdiet. Nunc mi cum nunc, sit scelerisque aliquam elementum, nunc.
        Morbi suscipit quam et facilisis interdum tellus enim, neque. Faucibus
        nullam vitae fringilla cras phasellus tincidunt bibendum ante. Fermentum
        nunc, blandit donec phasellus metus ultricies arcu turpis. Elementum
        nulla viverra non porttitor nascetur. Mattis habitant tempus, urna
        commodo facilisis fermentum. <br />
        Urna nulla sit netus ullamcorper lobortis. In accumsan fermentum
        fermentum ipsum blandit egestas. Varius mattis vitae suspendisse in
        dignissim id arcu sed. Sociis sit aliquet at nisl porttitor. Amet
        nascetur nunc, non nam. Sed adipiscing mauris tortor, suspendisse nisi
        volutpat pellentesque nisi et. Laoreet morbi nibh neque eu in sit.
        Semper quam viverra netus non ut pellentesque. Convallis nunc neque,
        erat tincidunt metus, sit sed.
      </p>

      <div class="socials">
        <div class="row socials-xs">
          <div class="col-12 col-sm-6">
            <p class="pt-1 title">Поделиться</p>
          </div>
          <div class="col-12 col-sm-6 icons">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
