{% extends "layout.html" %}
{% set active_page = "market" %}
{% block content %}
    <!-- Navigation 2-->
    <nav class="navbar horizontal-bar-2 navbar-expand-md navbar-dark">
        <div class="container">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarResponsive2"
                        aria-controls="myNavbarResponsive2" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNavbarResponsive2">
                    <ul class="navbar-nav nav-fill w-75 m-auto">
                        <li class="nav-item menu-item">
                            <a class="nav-link second-link" href="{{ url_for('marketing_page1') }}">Магазин
                                сувениров</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link second-link active" href="{{ url_for('marketing_page2') }}">Скидки</a>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link second-link" href="{{ url_for('marketing_page4') }}">Партнеры</a>
                        </li>
                        </li>
                        <li class="nav-item menu-item">
                            <a class="nav-link second-link" href="{{ url_for('marketing_page5') }}">Сотрудничество</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="body-colour">
        <div class="container pb-2">
            <p class="sub-title"> Скидки </p>
            <div class="card-deck">
                <div class="card mbottom zoom-img">
                    <a href="{{ url_for('marketing_page3') }}">
                        <div class="card-group joined-cards card-shadow">
                            <div class="card">
                                <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                            </div>
                            <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                            <div class="card">
                                <div class="card-body  souvernir-card d-flex flex-column">
                                    <div>
                                        <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                        <h5 class="skidka-card-title">-50% на все виды товаров по промокоду
                                            HAPPYBDAY</h5>
                                        <i class="card-hashtag">#preview #omg #test</i>
                                    </div>
                                    <div class="row mt-auto">
                                        <div class="col pl-0">
                                            <i class="card-date">15 окт</i>
                                        </div>
                                        <div class="col text-right pr-0">
                                            <img class="eye-icon" src="/static/images/eye.svg">
                                            <i class="card-date">999,999</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div>
                <div class="card mbottom zoom-img">
                    <a href="{{ url_for('marketing_page3') }}">
                        <div class="card-group joined-cards card-shadow">
                            <div class="card">
                                <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                            </div>
                            <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                            <div class="card">
                                <div class="card-body  souvernir-card d-flex flex-column">
                                    <div>
                                        <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                        <h5 class="skidka-card-title">-50% на все виды товаров по промокоду
                                            HAPPYBDAY</h5>
                                        <i class="card-hashtag">#preview #omg #test</i>
                                    </div>
                                    <div class="row mt-auto">
                                        <div class="col pl-0">
                                            <i class="card-date">15 окт</i>
                                        </div>
                                        <div class="col text-right pr-0">
                                            <img class="eye-icon" src="/static/images/eye.svg">
                                            <i class="card-date">999,999</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                <div class="card mbottom zoom-img">
                    <a href="{{ url_for('marketing_page3') }}">
                        <div class="card-group joined-cards card-shadow">
                            <div class="card">
                                <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                            </div>
                            <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                            <div class="card">
                                <div class="card-body  souvernir-card d-flex flex-column">
                                    <div>
                                        <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                        <h5 class="skidka-card-title">-50% на все виды товаров по промокоду
                                            HAPPYBDAY</h5>
                                        <i class="card-hashtag">#preview #omg #test</i>
                                    </div>
                                    <div class="row mt-auto">
                                        <div class="col pl-0">
                                            <i class="card-date">15 окт</i>
                                        </div>
                                        <div class="col text-right pr-0">
                                            <img class="eye-icon" src="/static/images/eye.svg">
                                            <i class="card-date">999,999</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div>
                <div class="card mbottom zoom-img">
                    <a href="{{ url_for('marketing_page3') }}">
                        <div class="card-group joined-cards card-shadow">
                            <div class="card">
                                <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                            </div>
                            <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                            <div class="card">
                                <div class="card-body  souvernir-card d-flex flex-column">
                                    <div>
                                        <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                        <h5 class="skidka-card-title">-50% на все виды товаров по промокоду
                                            HAPPYBDAY</h5>
                                        <i class="card-hashtag">#preview #omg #test</i>
                                    </div>
                                    <div class="row mt-auto">
                                        <div class="col pl-0">
                                            <i class="card-date">15 окт</i>
                                        </div>
                                        <div class="col text-right pr-0">
                                            <img class="eye-icon" src="/static/images/eye.svg">
                                            <i class="card-date">999,999</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-block d-xl-block"></div>
                <div class="card mbottom zoom-img">
                    <div class="card-group joined-cards card-shadow">
                        <div class="card">
                            <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                        </div>
                        <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                        <div class="card">
                            <div class="card-body  souvernir-card d-flex flex-column">
                                <div>
                                    <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                    <h5 class="skidka-card-title">-50% на все виды товаров по промокоду HAPPYBDAY</h5>
                                    <i class="card-hashtag">#preview #omg #test</i>
                                </div>
                                <div class="row mt-auto">
                                    <div class="col pl-0">
                                        <i class="card-date">15 окт</i>
                                    </div>
                                    <div class="col text-right pr-0">
                                        <img class="eye-icon" src="/static/images/eye.svg">
                                        <i class="card-date">999,999</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div>
                <div class="card mbottom zoom-img">
                    <div class="card-group joined-cards card-shadow">
                        <div class="card">
                            <img class="card-img" src="/static/images/Rectangle 253.png" alt="img1">
                        </div>
                        <!-- <div class="w-100 d-sm-none d-md-none d-lg-none d-xl-none"></div> -->
                        <div class="card">
                            <div class="card-body  souvernir-card d-flex flex-column">
                                <div>
                                    <p class="col pb-2 pl-0 m-0">Gold’s Gym Dinamo Moscow</p>
                                    <h5 class="skidka-card-title">-50% на все виды товаров по промокоду HAPPYBDAY</h5>
                                    <i class="card-hashtag">#preview #omg #test</i>
                                </div>
                                <div class="row mt-auto">
                                    <div class="col pl-0">
                                        <i class="card-date">15 окт</i>
                                    </div>
                                    <div class="col text-right pr-0">
                                        <img class="eye-icon" src="/static/images/eye.svg">
                                        <i class="card-date">999,999</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <nav aria-label="News navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}