{% extends "layout.html" %} {% block content %}
<!-- Navigation 2-->
<nav class="navbar horizontal-bar-2 navbar-expand-md navbar-dark">
  <div class="container">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbarResponsive2"
        aria-controls="myNavbarResponsive2"
        aria-expanded="true"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" id="myNavbarResponsive2">
        <ul class="navbar-nav nav-fill w-75 m-auto">
          <li class="nav-item menu-item">
            <a class="nav-link second-link" href="#">Магазин сувениров</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link second-link active" href="#">Скидки</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link second-link" href="#">Партнеры</a>
          </li>
          <li class="nav-item menu-item">
            <a class="nav-link second-link" href="#">Сотрудничество</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="body-colour">
  <div class="container pb-4">
    <div class="col-12">
      <p class="sub-title">Магазин сувениров</p>
    </div>
    <div class="row mr-0 ml-0">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
      <!-- <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div> -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
      <!-- <div class="w-100 d-none d-sm-none d-md-none d-lg-block d-xl-block"></div> -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
      <!-- <div class="w-100 d-none d-sm-block d-md-block d-lg-none d-xl-none"></div> -->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="souvenir-image card-shadow">
          <img class="img-fluid" src="/static/images/t-shirt.png" />
          <div class="souvernir-card">
            <p>Футболка #MIREASPORTFAMILY</p>
            <a href="#" class="btn btn-primary w-75">Заказать</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <nav aria-label="News navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
