{% extends "layout.html" %} {% set active_page = "team" %} {% block content %}
<div class="tournir-header-background">
  <div class="bg py-5">
    <div class="container d-flex align-items-center">
      <img class="img-fluid pr-3" src="/static/images/rocketLeague.png" />
      <h2>Rocket League</h2>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="row albums">
      <div
        class="inner-navigation d-flex w-100 list-group text-center text-blue"
      >
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
            active
          "
        >
          <div class="align-self-center">Команда</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Медиа сборной</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Турниры</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">История турниров</div>
        </a>
      </div>
    </div>

    <p class="col-12 sub-title pt-5">Команда 1</p>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
    </div>

    <p class="col-12 sub-title pt-5">Команда 2</p>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
    </div>

    <h5 class="col-12 pt-4">Контакты администрации</h5>
    <div class="row pl-2 mt-3 mb-5 marketing-contacts">
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue small">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue small">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue small">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue small">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue small">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue small">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue small">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue small">adress@mail.com</p>
        </div>
      </div>
      <<<<<<< HEAD
    </div>
    ======= >>>>>>> 68910acf27098701822bf0dd0e9cfd79255cefad {% endblock %}
  </div>
</div>
