{% extends "layout.html" %} {% block content %}
<div class="tournir-header-background">
  <div class="bg py-5">
    <div class="container d-flex align-items-center">
      <img class="img-fluid pr-3" src="/static/images/rocketLeague.png" />
      <h2>Rocket League</h2>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="row">
      <div class="inner-navigation w-100 list-group text-center text-blue">
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Команда</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Медиа сборной</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
            active
          "
        >
          <div class="align-self-center">Турниры</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">История турниров</div>
        </a>
      </div>
    </div>
    <div class="row mx-0 pt-3">
      <div class="col-12 col-md-3 pr-md-5 albums">
        <div class="outer-navigation list-group text-center text-blue">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            >Турниры сборной</a
          >
          <a href="#" class="list-group-item list-group-item-action active"
            >Студенческие турниры</a
          >
        </div>
        <div class="inner-navigation list-group text-center text-blue">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            >Турниры сборной</a
          >
          <a href="#" class="list-group-item list-group-item-action active"
            >Студенческие турниры</a
          >
        </div>
      </div>
      <div class="col-12 col-md-9 px-0 new-match">
        <div class="row match-details">
          <div class="card w-100">
            <div class="card-body">
              <div class="row align-items-start">
                <div class="col-sm-8 d-flex align-items-start match-time">
                  <img
                    src="/static/images/Rectangle336.png"
                    style="width: 50px; height: 50px; margin-right: 1.5rem"
                  />
                  <div class="d-block">
                    <p class="match-name blue">
                      PVP Weekly Clans Brawl: Bravo #27
                    </p>
                    <p class="league-name" style="font-size: 1rem">
                      Rocket League
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Победители</p>
                    <p class="match-name blue">Название состава</p>
                  </div>
                </div>
              </div>
              <div class="row align-items-start">
                <div
                  class="col-12 col-sm-6 d-flex align-items-start match-time"
                >
                  <div class="d-block">
                    <p class="league-name">Дата проведения</p>
                    <p class="match-name">22 ноября - 26 ноября 2020</p>
                  </div>
                </div>
                <div class="col-6 col-sm-3 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Формат турнира</p>
                    <p class="match-name">5x5</p>
                  </div>
                </div>
                <div class="col-6 col-sm-3 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Кол-во участников</p>
                    <p class="match-name">160 / 320</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row match-details">
          <div class="card w-100">
            <div class="card-body">
              <div class="row align-items-start">
                <div class="col-sm-8 d-flex align-items-start match-time">
                  <img
                    src="/static/images/Rectangle336.png"
                    style="width: 50px; height: 50px; margin-right: 1.5rem"
                  />
                  <div class="d-block">
                    <p class="match-name blue">
                      PVP Weekly Clans Brawl: Bravo #27
                    </p>
                    <p class="league-name" style="font-size: 1rem">
                      Rocket League
                    </p>
                  </div>
                </div>
                <div class="col-sm-4 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Победители</p>
                    <p class="match-name blue">Название состава</p>
                  </div>
                </div>
              </div>
              <div class="row align-items-start">
                <div
                  class="col-12 col-sm-6 d-flex align-items-start match-time"
                >
                  <div class="d-block">
                    <p class="league-name">Дата проведения</p>
                    <p class="match-name">22 ноября - 26 ноября 2020</p>
                  </div>
                </div>
                <div class="col-6 col-sm-3 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Формат турнира</p>
                    <p class="match-name">5x5</p>
                  </div>
                </div>
                <div class="col-6 col-sm-3 d-flex align-items-start match-time">
                  <div class="d-block">
                    <p class="league-name">Кол-во участников</p>
                    <p class="match-name">160 / 320</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
