{% extends "layout.html" %} {% block content %}
<div class="profile-picture">
  <img class="w-100" src="/static/images/Group 452.png" alt="profile picture" />
</div>
<div class="body-colour pt-4">
  <div class="container">
    <p class="sportsclub-contact-text">Ronald Richards</p>

    <p class="text-muted">Позиция или должность</p>

    <div class="first-section pb-2">
      <p class="sportsclub-history-title pt-3">Информация</p>
      <p class="sportsclub-main-text">
        Возраст: 20 лет <br />
        Рост: 173 см
      </p>
    </div>

    <div class="second section pb-3">
      <p class="sportsclub-main-text mb-0">Список турниров:</p>
      <ul style="padding-left: 1.2rem; color: #1d66c1">
        <li>Название турнира 1</li>
        <li>Название турнира 2</li>
        <li>Название турнира 3</li>
      </ul>
    </div>
    <div class="third-section">
      <p class="sportsclub-history-title">Контакты</p>

      <p class="pull-right mb-0">
        <span class="sportsclub-main-text">Телефон:</span>
        <span class="sportsclub-main-text-blue">+79063254844</span>
      </p>
      <p class="pull-right">
        <span class="sportsclub-main-text">Email:</span>
        <span class="sportsclub-main-text-blue">adress@mail.com</span>
      </p>
      <p class="pull-right mb-0">
        <span class="sportsclub-main-text">VK:</span>
        <span class="sportsclub-main-text-blue">vk.com/nickname</span>
      </p>
      <p class="pull-right">
        <span class="sportsclub-main-text">INSTAGRAM:</span>
        <span class="sportsclub-main-text-blue">instagram.com/nickname</span>
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row socials">
      <div class="col-12 col-sm-6">
        <p class="pt-1 title">Поделиться</p>
      </div>
      <div class="col-12 col-sm-6 icons">
        <a href="#"><i class="fab fa-vk"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-telegram-plane"></i></a>
        <a href="#"><i class="fab fa-whatsapp"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
