{% extends "layout.html" %} {% block content %}
<div class="tournir-header-background2">
  <div class="container">
    <div class="row text-center pt-5 pb-3">
      <div class="col-12">
        <img
          class="img-fluid"
          style="height: 80px"
          src="/static/images/circle.png"
        />
      </div>
      <div class="col-12 mb-4">
        <div class="h3">Беговой клуб</div>
      </div>
      <div class="col-12 mb-4">
        <button class="btn btn-transparent">
          Зарегистрироваться на турнир
        </button>
      </div>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="row albums">
      <div
        class="inner-navigation d-flex w-100 list-group text-center text-blue"
      >
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Информация</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
            active
          "
        >
          <div class="align-self-center">Участники клуба</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Расписание</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Медиа</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Достижения</div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-3 name-card">
        <div class="card">
          <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
          <p class="sbornyie-sostav-small">nickname</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
