{% extends "layout.html" %} {% block content %}
<main class="page-content">
  <div class="tournir-header-background">
    <div class="container">
      <div class="row text-center pt-5 pb-3">
        <div class="col-12">
          <img class="img-fluid" src="/static/images/rocketLeague.png" />
        </div>
        <div class="col-12">
          <div class="h3">Клуб единоборств</div>
        </div>
      </div>
    </div>
  </div>

  <div class="body-colour">
    <div class="container">
      <!-- Slider -->
      <div class="rs-image style1 nav-style py-4 px-5">
        <div
          class="rs-carousel owl-carousel"
          data-loop="true"
          data-items="4"
          data-margin="2"
          data-autoplay="true"
          data-autoplay-timeout="8000"
          data-smart-speed="2000"
          data-nav="true"
          data-nav-speed="false"
          data-mobile-device="2"
          data-mobile-device-nav="false"
          data-ipad-device="4"
          data-ipad-device-nav="true"
          data-ipad-device2="4"
          data-ipad-device-nav2="true"
          data-md-device="4"
          data-md-device-nav="true"
        >
          <div class="player-item">
            <div class="player-img">
              <img
                src="/static/images/logo_slide.png"
                alt=""
                style="width: 100px !important"
              />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img
                src="/static/images/logo_slide.png"
                alt=""
                style="width: 100px !important"
              />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img
                src="/static/images/logo_slide.png"
                alt=""
                style="width: 100px !important"
              />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img
                src="/static/images/logo_slide.png"
                alt=""
                style="width: 100px !important"
              />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img
                src="/static/images/logo_slide.png"
                alt=""
                style="width: 100px !important"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Main News -->
      <div class="news-articles">
        <div class="row ml-0 mr-0 mb-2">
          <div class="col-4 col-sm-6 pl-0">
            <h4 class="title-text">Новости киберспортивного клуба</h4>
          </div>
          <div class="col-8 col-sm-6 pr-0 text-right">
            <div class="dropdown">
              <i class="d-none d-sm-inline">Сортировать </i>
              <button
                class="btn btn-sort dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                по популярности
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">по просмотрам</a>
                <a class="dropdown-item" href="#">чем-то другим</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row articles">
          <article class="article pb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-sm-4 picture">
                  <img
                    src="../../static/images/card 1.png"
                    class="card-img-top h-100"
                    alt="..."
                  />
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-text">15 октября</h5>
                    <p class="card-title">
                      Волонтёры РТУ МИРЭА приняли активное участие в «Кубке
                      Первого Президента
                    </p>
                    <p class="card-text hastags">
                      #ssc_alliance #волейбол #кубок_ректора
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="article pb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-sm-4 picture">
                  <img
                    src="../../static/images/card 2.png"
                    class="card-img-top h-100"
                    alt="..."
                  />
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-text">18 октября</h5>
                    <p class="card-title">
                      В университете пройдет 28 турнир по шахматам,
                      организованный Всероссийским гроссмейстерским сообществом
                    </p>
                    <p class="card-text hastags">
                      #ssc_alliance #волейбол #кубок_ректора
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="article pb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-sm-4 picture">
                  <img
                    src="../../static/images/card 3.png"
                    class="card-img-top h-100"
                    alt="..."
                  />
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-text">27 октября</h5>
                    <p class="card-title">
                      Девушки из сборной по волейболу совсем скоро начнут свои
                      первые матчи в МССИ
                    </p>
                    <p class="card-text hastags">
                      #ssc_alliance #волейбол #кубок_ректора
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article class="article pb-4">
            <div class="card">
              <div class="row no-gutters">
                <div class="col-sm-4 picture">
                  <img
                    src="../../static/images/card 4.png"
                    class="card-img-top h-100"
                    alt="..."
                  />
                </div>
                <div class="col-sm-8">
                  <div class="card-body">
                    <h5 class="card-text">3 ноября</h5>
                    <p class="card-title">
                      Кубок ректора 2020 по футболу! Участие в турнире примут
                      более 15 вузовских команд
                    </p>
                    <p class="card-text hastags">
                      #ssc_alliance #волейбол #кубок_ректора
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!-- Pagination -->
      <nav class="py-3" aria-label="News navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
{% endblock %}
