{% extends "layout.html" %} {% block content %}
    <div class="tournir-header-background1">
        <div class="bg py-5">
            <div class="container">
                <h2>Самбо</h2>
            </div>
        </div>
    </div>

    <div class="body-colour">
        <div class="container">
            <div class="row albums pr-0">
                <div
                        class="inner-navigation d-flex w-100 list-group text-center text-blue"
                >
                    <a
                            href="{{ url_for('club_page12') }}"
                            class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center

          "
                    >
                        <div class="align-self-center">Информация</div>
                    </a>
                    <a
                            href="{{ url_for('club_page13') }}"
                            class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center active
          "
                    >
                        <div class="align-self-center">Состав</div>
                    </a>
                    <a
                            href="{{ url_for('club_page14') }}"
                            class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
                    >
                        <div class="align-self-center">Медиа</div>
                    </a>
                    <a
                            href="{{ url_for('club_page15') }}"
                            class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
                    >
                        <div class="align-self-center">Достижения</div>
                    </a>
                </div>
            </div>

            <div class="margin-class">
                <p class="col-12 sub-title pt-5 section-title">Состав</p>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 name-card">
                        <a href="{{ url_for('club_page8') }}">
                            <div class="card">
                                <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
                                <p class="sbornyie-sostav-small">nickname</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 name-card">
                        <a href="{{ url_for('club_page8') }}">
                            <div class="card">
                                <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
                                <p class="sbornyie-sostav-small">nickname</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 name-card">
                        <a href="{{ url_for('club_page8') }}">
                            <div class="card">
                                <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
                                <p class="sbornyie-sostav-small">nickname</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 name-card">
                        <a href="{{ url_for('club_page8') }}">
                            <div class="card">
                                <p class="sbornyie-sostav mt-auto">Kristin Watson</p>
                                <p class="sbornyie-sostav-small">nickname</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
