{% extends "layout.html" %} {% block content %}
<div class="body-colour">
  <div class="container team-cards">
    <p class="sportsclub-title pt-4">Поиск игроков</p>

    <p class="sportsclub-main-text">
      Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus augue
      mauris iaculis mi. Aliquet eget leo posuere semper nec at ac, etiam. Orci
      tristique fusce aenean eget et id pellentesque in. Vivamus nisl bibendum
      tristique tristique amet, in lectus felis. At eget aenean vitae enim. Et,
      pellentesque neque commodo cursus <br />
    </p>

    <div class="pb-4">
      <button type="button" class="btn btn-primary mr-3 mb-3">
        Отправить заявку
      </button>
      <button type="button" class="btn btn-light mb-3">
        <img class="img-fluid" src="/static/images/videocam.svg" />
        Видеоинструкция
      </button>
    </div>
    <div class="mb-4 d-flex">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-game h-100"
          placeholder="Введите фамилию и имя игрока"
        />
        <div class="input-group-append">
          <button type="button" class="btn btn-primary">Найти игрока</button>
        </div>
      </div>
      <div class="pl-2">
        <button
          type="button"
          class="btn btn-primary filter-btn py-2 px-3 h-100"
        >
          <img class="img-fluid" src="/static/images/filter2.svg" />
        </button>
      </div>
    </div>
    <div class="mb-4">
      <button type="button" class="btn btn-light mr-3 mb-3">
        Выберите вид спорта
        <img class="img-fluid" src="/static/images/filter-tag.svg" />
      </button>
      <button type="button" class="btn btn-light mb-3">
        Выберите позицию
        <img class="img-fluid" src="/static/images/filter-tag.svg" />
      </button>
    </div>

    <div class="row">
      <div class="col-6 p-0">
        <p>Ищут команду: 2 625 игроков</p>
      </div>
      <div class="col-6 p-0 text-right">
        <div class="dropdown">
          <i class="d-none d-sm-inline">Сортировать </i>
          <button
            class="d-none d-sm-inline btn btn-sort dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            по популярности
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">по просмотрам</a>
            <a class="dropdown-item" href="#">чем-то другим</a>
          </div>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card card-shadow col-sm-6">
        <div class="card-body d-flex flex-column">
          <div class="row">
            <div class="col-4 col-md-4 col-lg-2 pl-0">
              <img
                class="img-fluid search-game-card-img"
                src="/static/images/Rectangle 500.png"
              />
            </div>
            <div class="col-8 col-md-8 col-lg-10">
              <div class="row">
                <div class="col-12">
                  <p class="search-game-card-title">Василий Пупин</p>
                </div>
                <div class="col-4">
                  <p class="search-game-card-subtext">Вид спорта</p>
                  <p class="mb-0">Футбол</p>
                </div>
                <div class="col-8">
                  <p class="search-game-card-subtext">Позиция</p>
                  <p class="mb-0">Нападающий / полузащитник</p>
                </div>
              </div>
            </div>
          </div>
          <p class="search-game-card-subtext">Контакты</p>
          <p>Поле для контактов</p>
          <p class="search-game-card-subtext">О себе</p>
          <p>
            Текст с информацией о игрокеКоличество символов не ограничено, но
            лимит на превью карточке равен 4 строкам. В других карточках
            возможные варианты заполнения.
          </p>
          <p class="card-date mt-auto">16 октября 2021</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
