.time-slider {
  position: absolute;
  width: 240px;
  height: 4px;
  background: #6a6b6d;
  opacity: 0.4;
}

.time-slider-color {
  background: #ffffff;
  width: 1px;
  height: 4px;
  transition: width 5s;
}

.time-slider-color:hover {
  width: 240px;
  height: 3px;
  cursor: pointer;
}
