{% extends "layout.html" %} {% block content %}
<main class="page-content">
  <!-- Albums -->
  <div class="body-colour mb-3">
    <div class="container">
      <div class="row mx-0 px-0">
        <div class="col-6 margin-class">
          <h4 class="title pt-sm-4 pb-2">Мероприятия</h4>
        </div>
      </div>
      <div class="row mx-0 px-0 news-articles">
        <div class="col-12 col-md-3 pt-0 pr-md-4 mb-3 albums margin-class">
          <div class="outer-navigation list-group text-center text-blue">
            <a
              href="#"
              class="list-group-item list-group-item-action active"
              aria-current="true"
              >Актуальные мероприятия</a
            >
            <a href="#" class="list-group-item list-group-item-action">Архив</a>
          </div>
          <div class="inner-navigation list-group text-center text-blue">
            <a
              href="#"
              class="list-group-item list-group-item-action active"
              aria-current="true"
              >Актуальные мероприятия</a
            >
            <a href="#" class="list-group-item list-group-item-action">Архив</a>
          </div>
        </div>
        <div class="col-12 col-md-9 p-0">
          <div class="row articles">
            <div class="title mb-2"><h3>Октябрь</h3></div>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 1.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">15 октября</h5>
                      <p class="card-title">
                        Волонтёры РТУ МИРЭА приняли активное участие в «Кубке
                        Первого Президента
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 2.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">18 октября</h5>
                      <p class="card-title">
                        В университете пройдет 28 турнир по шахматам,
                        организованный Всероссийским гроссмейстерским
                        сообществом
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 3.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">27 октября</h5>
                      <p class="card-title">
                        Девушки из сборной по волейболу совсем скоро начнут свои
                        первые матчи в МССИ
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 4.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">3 ноября</h5>
                      <p class="card-title">
                        Кубок ректора 2020 по футболу! Участие в турнире примут
                        более 15 вузовских команд
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>

          <div class="row articles">
            <div class="title"><h3>Ноябрь</h3></div>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 1.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">15 октября</h5>
                      <p class="card-title">
                        Волонтёры РТУ МИРЭА приняли активное участие в «Кубке
                        Первого Президента
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 2.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">18 октября</h5>
                      <p class="card-title">
                        В университете пройдет 28 турнир по шахматам,
                        организованный Всероссийским гроссмейстерским
                        сообществом
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 3.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">27 октября</h5>
                      <p class="card-title">
                        Девушки из сборной по волейболу совсем скоро начнут свои
                        первые матчи в МССИ
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
            <article class="article pb-4">
              <div class="card">
                <div class="row no-gutters">
                  <div class="col-sm-4 picture">
                    <img
                      src="../../static/images/card 4.png"
                      class="card-img-top h-100"
                      alt="..."
                    />
                  </div>
                  <div class="col-sm-8">
                    <div class="card-body">
                      <h5 class="card-text">3 ноября</h5>
                      <p class="card-title">
                        Кубок ректора 2020 по футболу! Участие в турнире примут
                        более 15 вузовских команд
                      </p>
                      <p class="card-text hashtag">
                        #ssc_alliance #волейбол #кубок_ректора
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
