{% extends "layout.html" %} {% set active_page = "sport" %} {% block content %}
<div class="body-colour pt-3">
  <div class="container">
    <div class="h6 text-muted mt-3">Регистрация на мероприятие</div>
    <div class="h4">
      Девушки из сборной по волейболу совсем скоро начнут свои первые матчи в
      МССИ
    </div>
    <div class="row">
      <div class="col-6 pl-0">
        <div class="sport-hashtag"><p>#preview #omg #test</p></div>
      </div>
      <div class="col-6 text-right">
        <div class="text-muted">15 октября 2020</div>
      </div>
    </div>

    <div class="row player-form">
      <div class="col-12 col-md-6 pl-0 pr-md-5">
        <form>
          <div class="form-group pb-3">
            <label for="questionOne"
              >Обязательный вопрос <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="questionOne"
              aria-describedby="emailHelp"
              placeholder="Ответ"
            />
          </div>
          <div class="form-group pb-3">
            <label for="questionTwo">Необязательный вопрос</label>
            <input
              type="text"
              class="form-control"
              id="questionTwo"
              aria-describedby="questionHelp"
              placeholder=""
            />
          </div>
          <div class="form-group pb-3">
            <label for="questionThree" class="mb-0"
              >Необязательный вопрос</label
            >
            <small id="emailHelp" class="form-text text-muted pb-2"
              >Дополнительное описание вопроса</small
            >
            <input
              type="text"
              class="form-control"
              id="questionThree"
              aria-describedby="questionHelp"
              placeholder=""
            />
          </div>

          <div class="form-group pb-3">
            <label for="questionThree"
              >Поле без ответа подсвечивается красным
              <span style="color: red">*</span></label
            >
            <input
              type="text"
              class="form-control"
              id="questionThree"
              aria-describedby="questionHelp"
              placeholder=""
            />
          </div>

          <div class="row pb-3 margin-class">
            <div class="col-4 events">
              <label for="file-upload" class="custom-file-upload text-center">
              </label>
              <input id="file-upload" type="file" />
            </div>
            <div class="col-8">
              <label>Логотип</label>
              <div class="text-muted small">
                Логотип должен быть в формате: JPG, JPEG, PNG или GIF, размер не
                должен превышать 2 Мб, разрешение не более 1000х1000 px.
              </div>
            </div>
          </div>
          <div class="form-group pb-3">
            <label for="question4">Развернутый вопрос</label>
            <textarea
              class="form-control"
              id="question4"
              aria-describedby="questionHelp"
              placeholder="Логотип должен быть в формате: JPG, JPEG, PNG или GIF, размер не должен превышать 2 Мб, разрешение не более 1000х1000 px."
            ></textarea>
          </div>
          <div class="h6">Несколько из списка</div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              checked
            />
            <label class="form-check-label" for="exampleCheck1"
              >Вариант 1</label
            >
          </div>
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck2"
            />
            <label class="form-check-label" for="exampleCheck2"
              >Вариант 2</label
            >
          </div>
          <div class="form-check pb-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck3"
              checked
            />
            <label class="form-check-label" for="exampleCheck3"
              >Вариант 3</label
            >
          </div>

          <div class="h6">Выбор из списка</div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios1"
              value="option1"
            />
            <label class="form-check-label" for="exampleRadios1">
              Вариант 1
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios2"
              value="option2"
              checked
            />
            <label class="form-check-label" for="exampleRadios2">
              Вариант 2
            </label>
          </div>
          <div class="form-check pb-5">
            <input
              class="form-check-input"
              type="radio"
              name="exampleRadios"
              id="exampleRadios3"
              value="option3"
            />
            <label class="form-check-label" for="exampleRadios3">
              Вариант 3
            </label>
          </div>

          <div class="form-check pb-3">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
              checked
            />
            <label class="form-check-label d-inline-block" for="exampleCheck1"
              >Я даю согласие на обработку персональных данных</label
            >
          </div>

          <button type="submit" class="btn btn-primary btn-modify mb-3">
            Отправить заявку
          </button>
        </form>
      </div>
      <div class="col-12 col-md-6 pl-0 pl-md-4">
        <div class="h4 pb-2" style="color: #1d66c1">Поиск участников</div>
        <div class="pb-4 text-justify">
          Ниже представлена таблица с игроками без команды. Вы можете связаться
          с ними и добавить их в свою команду. Чтобы добавить участника в состав
          команды, участнику необходимо подтвердить вступление через почту.
        </div>

        <div class="pt-2 pl-0">
          <div class="row top-calendar h-100">
            <div class="col-8 col-md-6 my-auto">
              <div class="h5 pl-2">Игроки без команды</div>
            </div>
            <div class="col-4 col-md-6 text-right align-content-center">
              <div class="">
                <button class="btn" style="color: #f6f6f8">
                  <i class="fas fa-arrow-left"></i>
                </button>
                <button class="btn" style="color: #f6f6f8">
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row calendar">
            <div class="col-12 calendar-col">
              <div class="calendar-heading">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control text-muted"
                    aria-describedby=""
                    placeholder="поиск"
                  />
                </div>
              </div>
              <div class="calendar-item">
                <div class="row">
                  <div class="col-6">Фамилия Имя Отчество</div>
                  <div class="col-6 text-right">
                    <div class="text-muted">ОБОС-01-20</div>
                  </div>
                </div>
              </div>
              <div class="calendar-item">
                <div class="row">
                  <div class="col-6">Фамилия Имя Отчество</div>
                  <div class="col-6 text-right">
                    <div class="text-muted">ОБОС-01-20</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
