{% extends "layout.html" %} {% block content %}
<main class="page-content">
  <div class="body-colour pb-0">
    <div class="container">
      <img
        class="img-fluid"
        src="/static/images/Rectangle 36.png"
        alt="sport"
      />

      <div class="body-width">
        <div class="page-title">
          Девушки из сборной по волейболу совсем скоро начнут свои первые матчи
          в МССИ
        </div>

        <div class="row date-margin">
          <div class="col-12 col-sm-6">
            <button class="btn btn-primary pt-3 pb-3 w-100">Участвовать</button>
          </div>
          <div class="col-12 col-sm-6">
            <div>
              <i class="hashtag">#preview #omg #test</i>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-4">
              <i class="card-date">15 окт</i>
              <div class="d-flex align-items-center">
                <img
                  class="mr-1"
                  src="/static/images/Vector.png"
                  style="width: 15px; height: 15px"
                />
                <i class="card-date" style="color: #1d66c1">999,999</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white">
    <div class="container pb-5">
      <div class="col-12 albums">
        <div class="inner-navigation d-flex list-group text-center text-blue">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            ><span>Общая информация</span></a
          >
          <a href="#" class="list-group-item list-group-item-action"
            ><span>Организаторы</span></a
          >
          <a href="#" class="list-group-item list-group-item-action"
            ><span>Медиа</span></a
          >
          <a href="#" class="list-group-item list-group-item-action active"
            ><span>Статистика</span></a
          >
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 col-md-3 pr-md-3 pb-3 albums">
          <div class="outer-navigation list-group text-center text-blue">
            <a
              href="#"
              class="list-group-item list-group-item-action"
              aria-current="true"
              >Группы</a
            >
            <a href="#" class="list-group-item list-group-item-action">Сетка</a>
            <a href="#" class="list-group-item list-group-item-action active"
              >История матчей</a
            >
          </div>
          <div class="inner-navigation list-group text-center text-blue">
            <a
              href="#"
              class="list-group-item list-group-item-action"
              aria-current="true"
              >Группы</a
            >
            <a href="#" class="list-group-item list-group-item-action">Сетка</a>
            <a href="#" class="list-group-item list-group-item-action active"
              >История матчей</a
            >
          </div>
        </div>
        <div class="col-12 col-md-9 w-100">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <div
                      class="
                        row
                        justify-content-center
                        align-items-start
                        team-info
                        mr-0
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          first-team-name
                          justify-content-end
                        "
                      >
                        <h4>Команда 1</h4>
                        <img src="/static/images/team.png" class="ml-2 mr-1" />
                      </div>
                      <div class="time text-center">
                        <h4>3 : 0</h4>
                        <p>ОКН 12.10</p>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img src="/static/images/team.png" class="ml-1 mr-2" />
                        <h4>Команда 2</h4>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div
                      class="
                        row
                        justify-content-center
                        align-items-start
                        team-info
                        mr-0
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          first-team-name
                          justify-content-end
                        "
                      >
                        <h4>Команда 1</h4>
                        <img src="/static/images/team.png" class="ml-2 mr-1" />
                      </div>
                      <div class="time text-center">
                        <h4>3 : 0</h4>
                        <p>ОКН 12.10</p>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img src="/static/images/team.png" class="ml-1 mr-2" />
                        <h4>Команда 2</h4>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div
                      class="
                        row
                        justify-content-center
                        align-items-start
                        team-info
                        mr-0
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          first-team-name
                          justify-content-end
                        "
                      >
                        <h4>Команда 1</h4>
                        <img src="/static/images/team.png" class="ml-2 mr-1" />
                      </div>
                      <div class="time text-center">
                        <h4>3 : 0</h4>
                        <p>ОКН 12.10</p>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img src="/static/images/team.png" class="ml-1 mr-2" />
                        <h4>Команда 2</h4>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div
                      class="
                        row
                        justify-content-center
                        align-items-start
                        team-info
                        mr-0
                      "
                    >
                      <div
                        class="
                          d-flex
                          align-items-center
                          first-team-name
                          justify-content-end
                        "
                      >
                        <h4>Команда 1</h4>
                        <img src="/static/images/team.png" class="ml-2 mr-1" />
                      </div>
                      <div class="time text-center">
                        <h4>3 : 0</h4>
                        <p>ОКН 12.10</p>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img src="/static/images/team.png" class="ml-1 mr-2" />
                        <h4>Команда 2</h4>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container pt-3 pb-5">
    <div class="socials">
      <div class="row">
        <div class="col-12 col-sm-6">
          <p class="pt-1 title">Поделиться</p>
        </div>
        <div class="col-12 col-sm-6 icons">
          <a href="#"><i class="fab fa-vk"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-telegram-plane"></i></a>
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
