{% extends "layout.html" %} {% set active_page = "team" %} {% block content %}
<div class="team-header-background1">
  <div class="container text-center pb-5" style="position: relative">
    <div class="row pt-5 pb-3">
      <div class="col-12">
        <img class="img-fluid" src="/static/images/mirea.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="h3">Сборная по футболу РТУ МИРЭА</div>
      </div>
    </div>
    <div class="row justify-content-center team-info mirea">
      <div class="">
        <img src="/static/images/Rectangle 379.png" class="mr-3" />
      </div>
      <div>
        <div class="stop mb-sm-2" style="font-weight: normal">
          До следующей игры
        </div>
        <div class="row timer w-100 justify-content-center">
          <div>
            <div>
              <span class="start"
                ><span>09:</span
                ><span class="stop sub-note mt-1">дней</span></span
              >
              <span class="start"
                ><span>23:</span
                ><span class="stop sub-note mt-1">час</span></span
              >
              <span class="start"
                ><span>59:</span
                ><span class="stop sub-note mt-1">мин</span></span
              >
              <span class="start"
                ><span>59</span
                ><span class="stop sub-note mt-1">сек</span></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <img src="/static/images/Rectangle 380.png" class="ml-3" />
      </div>
    </div>
    <span class="social-media-icons">
      <a href=""><img src="/static/images/VK.png" class="mr-2" /></a>
      <a href=""><img src="/static/images/Instagram.png" alt="" /></a>
    </span>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="row albums">
      <div
        class="inner-navigation d-flex w-100 list-group text-center text-blue"
      >
        <a
          href="{{ url_for('team_page2') }}"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
            active
          "
        >
          <div class="align-self-center">Расписание игр</div>
        </a>
        <a
          href=""
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Результаты игр</div>
        </a>
        <a
          href="{{ url_for('team_page3') }}"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Состав</div>
        </a>
        <a
          href="{{ url_for('team_page4') }}"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Информация</div>
        </a>
        <a
          href="{{ url_for('team_page7') }}"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Медиа</div>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="col-12 pl-0">
      <p class="sub-title">Ноябрь 2020</p>
    </div>
    <div class="row match-details border-card">
      <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 d-flex align-items-center match-time">
              <img
                src="/static/images/Rectangle336.png"
                style="width: 50px; height: 50px; margin-right: 1.5rem"
              />
              <div class="d-block">
                <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                <p class="sbornyie-card-time">21:00</p>
              </div>
            </div>
            <div
              class="
                col-sm-8
                d-flex
                justify-content-center
                align-items-center
                team-info
                mirea
                new-margin
              "
            >
              <div class="d-flex align-items-center first-team-name">
                <h5>РТУ МИРЭА</h5>
                <img
                  src="/static/images/Rectangle 379.png"
                  class="mr-3 ml-1"
                  style="width: 50px; height: 50px"
                />
              </div>
              <div class="text-center">
                <h5>vs</h5>
              </div>
              <div class="d-flex align-items-center second-team-name">
                <img
                  src="/static/images/Rectangle 380.png"
                  class="ml-3 mr-1"
                  style="width: 50px; height: 50px"
                />
                <h5>МАИ</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row match-details border-card">
      <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4 d-flex align-items-center match-time">
              <img
                src="/static/images/Rectangle336.png"
                style="width: 50px; height: 50px; margin-right: 1.5rem"
              />
              <div class="d-block">
                <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                <p class="sbornyie-card-time">21:00</p>
              </div>
            </div>
            <div class="row match-details border-card">
              <div class="card w-100 card2">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4 d-flex align-items-center match-time">
                      <img
                        src="/static/images/Rectangle336.png"
                        style="width: 50px; height: 50px; margin-right: 1.5rem"
                      />
                      <div class="d-block">
                        <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                        <p class="sbornyie-card-time">21:00</p>
                      </div>
                    </div>
                    <div
                      class="
                        col-sm-8
                        d-flex
                        justify-content-center
                        align-items-center
                        team-info
                        mirea
                        new-margin
                      "
                    >
                      <div class="d-flex align-items-center first-team-name">
                        <h5>РТУ МИРЭА</h5>
                        <img
                          src="/static/images/Rectangle 379.png"
                          class="mr-3 ml-1"
                          style="width: 50px; height: 50px"
                        />
                      </div>
                      <div class="text-center">
                        <h5>vs</h5>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img
                          src="/static/images/Rectangle 380.png"
                          class="ml-3 mr-1"
                          style="width: 50px; height: 50px"
                        />
                        <h5>МАИ</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-12 pl-0">
              <p class="sub-title">Декабрь 2020</p>
            </div>
            <div class="row match-details border-card">
              <div class="card w-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4 d-flex align-items-center match-time">
                      <img
                        src="/static/images/Rectangle336.png"
                        style="width: 50px; height: 50px; margin-right: 1.5rem"
                      />
                      <div class="d-block">
                        <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                        <p class="sbornyie-card-time">21:00</p>
                      </div>
                    </div>
                    <div
                      class="
                        col-sm-8
                        d-flex
                        justify-content-center
                        align-items-center
                        team-info
                        mirea
                        new-margin
                      "
                    >
                      <div class="d-flex align-items-center first-team-name">
                        <h5>РТУ МИРЭА</h5>
                        <img
                          src="/static/images/Rectangle 379.png"
                          class="mr-3 ml-1"
                          style="width: 50px; height: 50px"
                        />
                      </div>
                      <div class="text-center">
                        <h5>vs</h5>
                      </div>
                      <div class="d-flex align-items-center second-team-name">
                        <img
                          src="/static/images/Rectangle 380.png"
                          class="ml-3 mr-1"
                          style="width: 50px; height: 50px"
                        />
                        <h5>МАИ</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row match-details border-card">
              <div class="card w-100">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4 d-flex align-items-center match-time">
                      <img
                        src="/static/images/Rectangle336.png"
                        style="width: 50px; height: 50px; margin-right: 1.5rem"
                      />
                      <div class="d-block">
                        <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                        <p class="sbornyie-card-time">21:00</p>
                      </div>
                    </div>
                    <div class="row match-details border-card">
                      <div class="card w-100 card2">
                        <div class="card-body">
                          <div class="row">
                            <div
                              class="
                                col-sm-4
                                d-flex
                                align-items-center
                                match-time
                              "
                            >
                              <img
                                src="/static/images/Rectangle336.png"
                                style="
                                  width: 50px;
                                  height: 50px;
                                  margin-right: 1.5rem;
                                "
                              />
                              <div class="d-block">
                                <p class="sbornyie-card-date">ВТ, 22 НОЯБРЯ</p>
                                <p class="sbornyie-card-time">21:00</p>
                              </div>
                            </div>
                            <div
                              class="
                                col-sm-8
                                d-flex
                                justify-content-center
                                align-items-center
                                team-info
                                mirea
                                new-margin
                              "
                            >
                              <div
                                class="
                                  d-flex
                                  align-items-center
                                  first-team-name
                                "
                              >
                                <h5>РТУ МИРЭА</h5>
                                <img
                                  src="/static/images/Rectangle 379.png"
                                  class="mr-3 ml-1"
                                  style="width: 50px; height: 50px"
                                />
                              </div>
                              <div class="text-center">
                                <h5>vs</h5>
                              </div>
                              <div
                                class="
                                  d-flex
                                  align-items-center
                                  second-team-name
                                "
                              >
                                <img
                                  src="/static/images/Rectangle 380.png"
                                  class="ml-3 mr-1"
                                  style="width: 50px; height: 50px"
                                />
                                <h5>МАИ</h5>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
