{% extends "layout.html" %}{% set active_page = "team" %} {% block content %}
<div class="team-header-background1">
  <div class="container text-center pb-5">
    <div class="row pt-5 pb-3">
      <div class="col-12">
        <img class="img-fluid" src="/static/images/mirea.png" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="h3">Сборная по футболу РТУ МИРЭА</div>
      </div>
    </div>
    <div class="row justify-content-center team-info mirea">
      <div class="">
        <img src="/static/images/Rectangle 379.png" class="mr-3" />
      </div>
      <div>
        <div class="stop mb-sm-2" style="font-weight: normal">
          До следующей игры
        </div>
        <div class="row timer w-100 justify-content-center">
          <div>
            <div>
              <span class="start"
                ><span>09:</span
                ><span class="stop sub-note mt-1">дней</span></span
              >
              <span class="start"
                ><span>23:</span
                ><span class="stop sub-note mt-1">час</span></span
              >
              <span class="start"
                ><span>59:</span
                ><span class="stop sub-note mt-1">мин</span></span
              >
              <span class="start"
                ><span>59</span
                ><span class="stop sub-note mt-1">сек</span></span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <img src="/static/images/Rectangle 380.png" class="ml-3" />
      </div>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="row albums">
      <div
        class="inner-navigation d-flex w-100 list-group text-center text-blue"
      >
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Расписание игр</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Результаты игр</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Состав</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
            active
          "
        >
          <div class="align-self-center">Информация</div>
        </a>
        <a
          href="#"
          class="
            list-group-item list-group-item-action
            d-flex
            justify-content-center
          "
        >
          <div class="align-self-center">Медиа</div>
        </a>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-12 col-md-3 pr-md-3 mb-3 mb-md-0 albums">
        <div class="outer-navigation list-group text-center text-blue">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            >Тренировки</a
          >
          <a href="#" class="list-group-item list-group-item-action active"
            >История</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Достижения</a
          >
        </div>
        <div class="inner-navigation list-group text-center text-blue">
          <a
            href="#"
            class="list-group-item list-group-item-action"
            aria-current="true"
            >Тренировки</a
          >
          <a href="#" class="list-group-item list-group-item-action active"
            >История</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Достижения</a
          >
        </div>
      </div>
      <div class="col-12 col-md-9 w-100">
        <p class="sbornyie-title">История</p>
        <p class="sbornyie-text text-justify">
          Ut cursus rhoncus viverra aenean euismod integer nunc. Pulvinar
          convallis gravida nibh nullam. Viverra egestas volutpat, risus, etiam
          nulla. Faucibus vitae amet, nulla consequat, et pulvinar lectus
          ultrices. Fusce fringilla nunc lectus interdum.<br />
          Varius et, tincidunt aliquam sed. Sed et ornare aliquet convallis
          vulputate morbi nibh. Est lectus tempus, orci enim, proin adipiscing
          turpis ornare. Ipsum vestibulum, arcu elit amet at in feugiat
          dignissim. A, sem aliquam in volutpat consectetur erat ac volutpat
          accumsan. Dictumst nibh et nunc aliquet varius id sagittis. Ipsum sit
          nisi, mattis odio est.<br />
          Dignissim luctus libero sed adipiscing. Consectetur ut scelerisque
          quam mauris blandit aliquam tristique. Pretium sed ut porttitor sed
          vulputate diam. Commodo sed sociis arcu amet quam sed vel, porta sed.
          Facilisis quam consequat eleifend risus cursus ipsum sapien rhoncus.
          Elementum, eget auctor id sit aenean elit vel. Dictum vitae blandit
          cras egestas ullamcorper vestibulum, libero varius.<br />
          Diam iaculis neque vulputate ac facilisi vel eget at vestibulum.
          Laoreet in mi quis vitae diam. Sed viverra sit eu velit suspendisse
          vulputate est in. Nisi eget aliquet scelerisque ipsum purus curabitur
          et a. Integer porta quisque quis duis molestie elementum. Sit felis
          ullamcorper imperdiet sed sit turpis. Malesuada adipiscing dignissim
          sed faucibus sagittis dolor, integer in ultricies. Euismod neque dui
          sed non. A ac leo turpis nibh in purus. Ut venenatis semper amet sem
          blandit ipsum.<br />
        </p>

        <p class="sbornyie-heading">Достижения</p>
        <p class="sbornyie-black-heading">2014/2015</p>
        <ul>
          <li>
            6 место в Московской студенческой лиге по мини-футболу (Высшая лига)
          </li>
          <li>22 место в Московской студенческой лиге по большому футболу</li>
          <li>2 место в Спартакиаде ЗАО</li>
        </ul>

        <p class="sbornyie-black-heading">2015/2016</p>
        <ul>
          <li>1 место в 1-ой Универсиаде МГИМО</li>
          <li>2 место в Ночной Футбольной Студенческой Лиге</li>
          <li>
            13 место в Московской студенческой лиге по мини-футболу (Высшая
            лига)
          </li>
          <li>
            4 место в Московской студенческой лиге по большому футболу (Первая
            лига)
          </li>
        </ul>

        <p class="sbornyie-black-heading">2016/2017</p>
        <ul>
          <li>1 место в кубке ССК "Альтаир" МФЮА</li>
          <li>3 место в Студенческом Кубке чемпионов от Nike</li>
          <li>3 место в NIKE K11 в Российском финале</li>
          <li>
            6 место в Московской студенческой лиге по большому футболу (Высшая
            лига)
          </li>
          <li>Незаконченная Московская студенческая лига по мини-футболу</li>
        </ul>

        <p class="sbornyie-heading mt-4">История тренеров</p>
        <div class="row margin-class">
          <div class="col-12 col-sm-6 col-md-4 picture-card">
            <div class="card">
              <p class="sbornyie-sostav mt-auto">
                Меньшенин Алексей Алексеевич
              </p>
              <p class="sbornyie-sostav-small">Главный тренер</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 picture-card">
            <div class="card">
              <p class="sbornyie-sostav mt-auto">
                Золотухин Максим Александрович
              </p>
              <p class="sbornyie-sostav-small">Администратор</p>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 picture-card">
            <div class="card">
              <p class="sbornyie-sostav mt-auto">
                Левандовский Станислав Игоревич
              </p>
              <p class="sbornyie-sostav-small">Администратор</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
