{% extends "layout.html" %} {% set active_page = "team" %} {% block content %}
<div class="body-colour">
  <div class="container pt-2">
    <div id="calendar" class="my-4"></div>

    <div class="row pt-4 px-0 margin-class">
      <div class="col-sm-4">
        <a href="{{ url_for('club_page1') }}">
          <img class="img w-100" src="/static/images/club.png" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('club_pagex') }}">
          <img class="img w-100" src="/static/images/run.png" />
        </a>
      </div>
      <div class="col-sm-4">
        <a href="{{ url_for('club_page11') }}">
          <img class="img w-100" src="/static/images/kiber.png" />
        </a>
      </div>
    </div>
    <p class="sbornyie-title pt-4">Сборные</p>
    <div class="row fix-left-right">
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('team_page2') }}">
          <div class="row bg-white h-100">
            <div class="col-4 col-md-4 p-0">
              <img class="img-fluid" src="/static/images/Rectangle 296.png" />
            </div>
            <div class="col-8 col-md-8 p-2 my-auto">
              <div class="h5 bottom-right">Футбол мужской</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('team_page2') }}">
          <div class="row bg-white h-100">
            <div class="col-4 col-md-4 p-0">
              <img class="img-fluid" src="/static/images/Rectangle 296.png" />
            </div>
            <div class="col-8 col-md-8 p-2 my-auto">
              <div class="h5 bottom-right">Футбол женский</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('team_page2') }}">
          <div class="row bg-white h-100">
            <div class="col-4 col-md-4 p-0">
              <img class="img-fluid" src="/static/images/Rectangle 296.png" />
            </div>
            <div class="col-8 col-md-8 p-2 my-auto">
              <div class="h5 bottom-right">Волейбол</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('team_page2') }}">
          <div class="row bg-white h-100">
            <div class="col-4 col-md-4 p-0">
              <img class="img-fluid" src="/static/images/Rectangle 296.png" />
            </div>
            <div class="col-8 col-md-8 p-2 my-auto">
              <div class="h5 bottom-right">Баскетбол</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <a href="{{ url_for('team_page2') }}">
          <div class="row bg-white h-100">
            <div class="col-4 col-md-4 p-0">
              <img class="img-fluid" src="/static/images/Rectangle 296.png" />
            </div>
            <div class="col-8 col-md-8 p-2 my-auto">
              <div class="h5 bottom-right">Черлидинг</div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Плаванье</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Водное поло</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Пауэрлифтинг</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Шахматы</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Шашки</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Настольный теннис</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Гандбол</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="row bg-white h-100">
          <div class="col-4 col-md-4 p-0">
            <img class="img-fluid" src="/static/images/Rectangle 296.png" />
          </div>
          <div class="col-8 col-md-8 p-2 my-auto">
            <div class="h5 bottom-right">Бадминтон</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var calendarEl = document.getElementById("calendar");

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      initialDate: "2021-11-07",
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth,timeGridWeek,timeGridDay",
      },
      titleFormat: "D MMMM, YYYY",
      events: [
        {
          title: "событие на весь день",
          start: "2021-11-01",
        },
        {
          title: "длинное мероприятие",
          start: "2021-11-07",
          end: "2021-11-10",
        },
        {
          groupId: "999",
          title: "повторяющееся событие",
          start: "2021-11-09T16:00:00",
        },
        {
          groupId: "999",
          title: "повторяющееся событие",
          start: "2021-11-16T16:00:00",
        },
        {
          title: "поиск Гугл",
          url: "https://google.com/",
          start: "2021-11-28",
        },
      ],
    });

    calendar.render();
  });
</script>

{% endblock %}
