<div class="body-colour">
    <div class="container">

        <p class="sbornyie-large-heading pt-4">Ronald Richards</p>

        <p class="text-muted">Позиция или должность</p>

        <p class="sbornyie-heading">Информация</p>

        <p class="sbornyie-text">
            Возраст: 20 лет <br>
            Рост: 173 см <br>

        </p>

        <p class="sbornyie-text mb-0">
            Список турниров:
        </p>
        <ul>
            <li>
                Название турнира 1
            </li>
            <li>
                Название турнира 2
            </li>
            <li>
                Название турнира 3
            </li>
        </ul>


        <p class="sbornyie-heading">Контакты</p>

        <p class="pull-right">
            <span class="sportsclub-main-text ">Телефон:</span>
            <span class="sportsclub-main-text-blue">+79063254844</span>
        </p>
        <p class="pull-right">
            <span class="sportsclub-main-text ">Email:</span>
            <span class="sportsclub-main-text-blue">adress@mail.com</span>
        </p>
        <p class="pull-right">
            <span class="sportsclub-main-text ">VK:</span>
            <span class="sportsclub-main-text-blue">vk.com/nickname</span>
        </p>
        <p class="pull-right">
            <span class="sportsclub-main-text ">INSTAGRAM:</span>
            <span class="sportsclub-main-text-blue">instagram.com/nickname</span>
        </p>
    </div>
</div>

