{% extends "layout.html" %}
{% set active_page = "media" %}
{% block content %}
    <!-- Albums -->
    <div class="body-colour">
        <div class="container albums">
            <div class="row mr-0 ml-0">
                <div class="col-md-6">
                    <p class="sub-title">Фотоальбомы</p>
                </div>
                <div class="col-md-6 text-right media-sort">
                    <div class="dropdown">
                        <i class="d-none d-sm-inline">Сортировать </i>
                        <button
                                class="d-none d-sm-inline btn btn-sort dropdown-toggle"
                                type="button"
                                id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                        >
                            по популярности
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">по просмотрам</a>
                            <a class="dropdown-item" href="#">чем-то другим</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mr-0 ml-0">
                <div class="col-12 col-md-3">
                    <div class="outer-navigation list-group text-center text-blue">
                        <a
                                href="#"
                                class="list-group-item list-group-item-action active"
                                aria-current="true"
                        > Спортклуб </a
                        >
                        <a href="#" class="list-group-item list-group-item-action">Сборные</a>
                    </div>
                </div>

                <div
                        class="
          mx-2
          mb-4
          row
          w-100
          inner-navigation
          list-group
          text-center text-blue
        "
                >
                    <div class="col-6 list-group-item list-group-item-action active">
                        <a href="#" class="" aria-current="true">Спортклуб</a>
                    </div>
                    <div class="col-6 list-group-item list-group-item-action">
                        <a href="#" class="">Сборные</a>
                    </div>
                </div>

                <div class="col-12 col-md-9 p-0">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="{{ url_for('media_page3') }}">
                                <div class="img-gradient">
                                    <img
                                            class="card-img-top"
                                            src="/static/images/Rectangle 79.png"
                                    />
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto">
                                        Групповой этап Кубка ректора по футболу 2019
                                    </h5>
                                    <i class="card-overlay-hashtag">16 октября 2020</i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                            <a href="">
                                <div class="img-gradient">
                                    <img class="card-img-top" src="/static/images/image-box.png"/>
                                </div>
                                <div class="card-img-overlay d-flex flex-column">
                                    <h5 class="media-card-overlay-title mt-auto"></h5>
                                    <i class="card-overlay-hashtag"></i>
                                </div>
                            </a>
                        </div>
                        <button class="btn gallery-button d-flex justify-content-center">
                            <p>Показать все 62 альбома</p>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <p class="sub-title">Все фотографии</p>
            </div>

            <div class="row mr-0 ml-0">
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <a href="">
                        <img class="card-img-top" src="/static/images/image-box-2.png"/>
                        <div class="card-img-overlay d-flex flex-column">
                            <h5 class="media-card-overlay-title mt-auto"></h5>
                            <i class="card-overlay-hashtag"></i>
                        </div>
                    </a>
                </div>

                <button
                        class="
          btn
          gallery-button
          last-gallery-button
          d-flex
          justify-content-center
        "
                >
                    <p>Посмотреть ещё</p>
                </button>
            </div>
        </div>
    </div>

{% endblock %}
