<!-- Albums -->
<div class="body-colour">
    <div class="container">
        <div class="col-12">
            <p class="gallery-video-title">Мужская сборная по волейболу на турнирах по пляжному волейболу</p>
            <p class="view-count">16 октября 2020</p>
            <p class="media-hashtag">#ssc_alliance #асск #студенческийспорт</p>
        </div>
        <div class="row ml-0 mr-0">
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Название видео</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Название видео</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Название видео</p>
                </a>
            </div>
            <div class="col-lg-6 col-md-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/volley-girls.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Название видео</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="features">
    <div class="container">
        <div class="col-12">
            <p class="feature-title">Похожие видео</p>
        </div>
        <div class="row ml-0 mr-0">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/video-box-2.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 album">
                <a href="">
                    <img class="card-img-top" src="/static/images/video-box-2.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-12 d-none d-md-block album">
                <a href="">
                    <img class="card-img-top" src="/static/images/video-box-2.png">
                    <div class="card-img-overlay d-flex flex-column">
                        <h5 class="media-card-overlay-title mt-auto"></h5>
                        <i class="card-overlay-hashtag"></i>
                    </div>
                    <p class="media-video-title">Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА</p>
                </a>
            </div>
        </div>
    </div>
</div>


