{% extends "layout.html" %} {% set active_page = "media" %} {% block content %}
<!-- Albums -->
<div class="body-colour">
  <div class="container">
    <div class="col-12">
      <h4 class="pt-4">Видеоальбомы</h4>
    </div>
    <div class="row mx-0">
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{{ url_for('media_page4') }}">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/Rectangle 79.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto">
              Групповой этап Кубка ректора по футболу 2019
            </h5>
            <i class="card-overlay-hashtag">16 октября 2020</i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="{{ url_for('media_page4') }}">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-none filterContent">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-none filterContent">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-none filterContent">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 d-none filterContent">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>

      <button
        class="btn gallery-button d-flex justify-content-center"
        id="filterBtn"
      >
        <p>Показать все 62 альбома</p>
      </button>
    </div>

    <div class="row mt-5 mx-0">
      <div class="col-sm-6">
        <p class="sub-title">Все видео</p>
      </div>
      <div class="col-sm-6 pt-sm-4 text-sm-right">
        <div class="dropdown">
          <i class="d-sm-inline">Сортировать </i>
          <button
            class="d-sm-inline btn btn-sort dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            по популярности
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">по просмотрам</a>
            <a class="dropdown-item" href="#">чем-то другим</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row mx-0">
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe
              class="embed-responsive-item embedded-video"
              src="https://www.youtube.com/embed/XHLxp8ZnVy0"
              allowfullscreen
            ></iframe>
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">
            Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА
          </p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">
            Представители мужской сборной по футболу в любительской лиге
          </p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">Название видео</p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">Название видео</p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">Название видео</p>
        </a>
      </div>
      <div class="col-lg-6 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">Название видео</p>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $("#filterBtn").on("click", function (e) {
    $(".filterContent").toggleClass("d-none");
    e.preventDefault();
  });
</script>

{% endblock %}
