{% extends "layout.html" %} {% block content %}
<!-- Albums -->
<div class="body-colour">
  <div
    class="embed-responsive embed-responsive-16by9"
    style="border-bottom-left-radius: 5px; border-bottom-right-radius: 5px"
  >
    <iframe
      class="embed-responsive-item"
      src="https://www.youtube.com/embed/XHLxp8ZnVy0"
      allowfullscreen
    ></iframe>
  </div>
  <div class="container">
    <div class="col-12 pt-0">
      <p class="gallery-video-title">
        Мужская сборная по волейболу на турнирах по пляжному волейболу
      </p>
      <div class="row date-margin">
        <div class="col pl-0">
          <i class="view-count">15 октября 2020</i>
        </div>
        <div class="col text-right pr-0">
          <img class="eye-icon" src="/static/images/eye.svg" />
          <i class="view-count">999,999</i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features">
  <div class="container">
    <div class="col-12">
      <p class="feature-title">Следущие видео</p>
    </div>
    <div class="row ml-0 mr-0">
      <div class="col-lg-4 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box-2.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">
            Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА
          </p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box-2.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">
            Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА
          </p>
        </a>
      </div>
      <div class="col-lg-4 col-md-6 col-12 album">
        <a href="">
          <img class="card-img-top" src="/static/images/video-box-2.png" />
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
          <p class="media-video-title">
            Live: Студенческий спортивный клуб «Альянс» РТУ МИРЭА
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
