{% extends "layout.html" %} {% block content %}
<div class="kiberzone-header-background">
  <div class="container">
    <div class="row pt-4 pb-5">
      <div class="col-12">
        <div class="container">
          <div class="row text-center">
            <div class="col-12 pb-4">
              <div class="kiber-header">Киберзона</div>
            </div>
            <div class="kiber-text font-weight-light">
              На этой странице вы можете забронировать игровое место в Киберзоне
              Российского технологического университета. Для продолжения
              бронирования необходимо авторизоваться в личном кабинете студента.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container pt-4">
    <nav aria-label="breadcrumb bg-white">
      <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item active mr-2" aria-current="page">
          1. Авторизация
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active mr-2">
          2. Бронирование игрового устройства
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item mr-2">
          3. Подтверждение
          <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </li>
        <li class="breadcrumb-item active">4. Готово!</li>
      </ol>
    </nav>

    <p class="kiberzone-heading pt-4">Подтверждение</p>

    <p class="kiberzone-text pb-4">
      Нам необходимо подтвердить запись. Для этого напишите в поле «Контакты для
      связи» свой номер телефона, ссылку на социальную есть или другой вид
      связи. Бронь действует 15 минут. Если в течение этого времени не
      получается связаться с пользователем, то бронь снимается.
    </p>

    <div class="form-group pb-4 kiberzone-form">
      <label for="contact" class="kiberzone-blue-text"
        >Контакты для связи</label
      >
      <input type="text" class="form-control w-50" id="contact" />
    </div>

    <p class="kiberzone-blue-subheading">
      Выбраны параметры: 13 февраля, 12:30, продолжительность 75 минут,
      устройство PC-07
    </p>
    <p class="text-muted pb-4">
      Внимательно проверьте информацию о бронировании. После подтверждения вы не
      сможете изменить её.
    </p>

    <div class="row kiberzone-btns">
      <div class="col-12 col-md-6 pl-0 mb-3">
        <button type="button" class="btn btn-light">
          Я передумал(-а) и хочу изменить параметры
        </button>
      </div>
      <div class="col-12 col-md-6 text-right pr-0 mb-3">
        <button type="button" class="btn btn-primary">
          Подтвердить бронирование
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
