{% extends "layout.html" %}

{% block content %}
    <div class="body-colour">
        <div class="container mb-5">
            <div class="row">
                <div class="col-12 pl-0 pr-0">
                    <div class="sport-heading-two">Секции</div>
                    <!-- Main Section -->
                    <div class="row section-main">
                        <div class="col-12 col-md-6 pl-0 pr-0 pr-md-2">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 186.svg"></a>
                        </div>
                        <div class="col-12 col-md-6 pl-0 pl-md-2 pr-0">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 166.svg"></a>
                        </div>
                        <div class="col-12 col-md-6 pl-0 pr-0 pr-md-2">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 167.svg"></a>
                        </div>
                        <div class="col-12 col-md-6 pl-0 pl-md-2 pr-0">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 165.svg"></a>
                        </div>
                        <div class="col-12 col-md-6 pl-0 pr-0 pr-md-2">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 164.svg"></a>
                        </div>
                        <div class="col-12 col-md-6 pl-0 pl-md-2 pr-0">
                            <a href="#"><img class="img-fluid" src="/static/images/Group 163.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}