{% extends "layout.html" %} {% block content %}
<div class="team-header-background pb-5">
  <div class="container text-center">
    <div class="row pt-5 pb-3">
      <div class="col-12">
        <img
          class="pb-2"
          style="width: auto; height: 40px"
          src="/static/images/Rectangle336.png"
        />
        <h5>ВТ, 22 НОЯБРЯ</h5>
        <p class="font-weight-light" style="color: #1d66c1">Групповой этап</p>
      </div>
    </div>
    <div class="row justify-content-center team-info">
      <div
        class="
          col-4
          d-flex
          align-items-center
          first-team-name
          justify-content-end
        "
      >
        <h4>РТУ МИРЭА</h4>
        <img src="/static/images/Rectangle 379.png" class="ml-2 mb-2" />
      </div>
      <div class="time col-2 text-center">
        <p>Начало</p>
        <h4>4 : 0</h4>
      </div>
      <div class="col-4 d-flex align-items-center">
        <img src="/static/images/Rectangle 380.png" class="mr-2 mb-2" />
        <h4>МАИ</h4>
      </div>
    </div>
    <div class="col-12">
      <div class="stop pb-2">До следующей игры</div>
      <div class="row timer w-100 justify-content-center">
        <div>
          <div class="d-flex align-items-center">
            <span class="start"
              ><span>09:</span
              ><span class="stop sub-note mt-1">дней</span></span
            >
            <span class="start"
              ><span>23:</span><span class="stop sub-note mt-1">час</span></span
            >
            <span class="start"
              ><span>59:</span><span class="stop sub-note mt-1">мин</span></span
            >
            <span class="start"
              ><span>59</span><span class="stop sub-note mt-1">сек</span></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container py-4">
    <p class="sportsclub-title">Информация</p>
    <p class="sportsclub-main-text">
      Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus augue
      mauris iaculis mi. Aliquet eget leo posuere semper nec at ac, etiam. Orci
      tristique fusce aenean eget et id pellentesque in. Vivamus nisl bibendum
      tristique tristique amet, in lectus felis. At eget aenean vitae enim. Et,
      pellentesque neque commodo cursus <br />
      Cursus maecenas placerat facilisis quisque pretium ut euismod. Sit diam,
      nunc luctus at. Libero egestas urna nisi pulvinar sit libero ut imperdiet.
      Nunc mi cum nunc, sit scelerisque aliquam elementum, nunc. Morbi suscipit
      quam et facilisis interdum tellus enim, neque. Faucibus nullam vitae
      fringilla cras phasellus tincidunt bibendum ante. Fermentum nunc, blandit
      donec phasellus metus ultricies arcu turpis. Elementum nulla viverra non
      porttitor nascetur. Mattis habitant tempus, urna commodo facilisis
      fermentum. <br />
      Urna nulla sit netus ullamcorper lobortis. In accumsan fermentum fermentum
      ipsum blandit egestas. Varius mattis vitae suspendisse in dignissim id
      arcu sed. Sociis sit aliquet at nisl porttitor. Amet nascetur nunc, non
      nam. Sed adipiscing mauris tortor, suspendisse nisi volutpat pellentesque
      nisi et. Laoreet morbi nibh neque eu in sit. Semper quam viverra netus non
      ut pellentesque. Convallis nunc neque, erat tincidunt metus, sit sed.
      <br />
    </p>

    <img class="img-fluid" src="/static/images/youtube.png" />

    <p class="sportsclub-title pt-4">Турнирная таблица</p>

    <div class="table-responsive mb-2">
      <table class="table">
        <thead>
          <div class="group-name">Название турнира</div>
          <tr>
            <th scope="col">Клуб</th>
            <th scope="col">И</th>
            <th scope="col">В</th>
            <th scope="col">Н</th>
            <th scope="col">П</th>
            <th scope="col">М</th>
            <th scope="col">Очки</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              1
              <img
                class="ml-1 mr-2"
                width="24px"
                height="24px"
                src="/static/images/Rectangle 89.png"
              />
              Команда 1
            </th>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>37-11</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">
              1
              <img
                class="ml-1 mr-2"
                width="24px"
                height="24px"
                src="/static/images/Rectangle 89.png"
              />
              Команда 1
            </th>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>37-11</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">
              1
              <img
                class="ml-1 mr-2"
                width="24px"
                height="24px"
                src="/static/images/Rectangle 89.png"
              />
              Команда 1
            </th>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>37-11</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="sportsclub-title">Альбомы</p>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6 album">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/Rectangle 79.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto">
              Групповой этап Кубка ректора по футболу 2019
            </h5>
            <i class="card-overlay-hashtag">16 октября 2020</i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 album">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 album">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-4 col-6 album">
        <a href="">
          <div class="img-gradient">
            <img class="card-img-top" src="/static/images/image-box.png" />
          </div>
          <div class="card-img-overlay d-flex flex-column">
            <h5 class="media-card-overlay-title mt-auto"></h5>
            <i class="card-overlay-hashtag"></i>
          </div>
        </a>
      </div>
    </div>

    <div
      class="
        row
        team-controls
        py-4
        d-flex
        justify-content-between
        align-items-center
      "
    >
      <h1>Фотогалерея</h1>
      <h6>Посмотреть весь альбом</h6>
    </div>
    <!-- Slider -->

    <div class="rs-team style1 nav-style pt-92 pb-100 md-pt-72 md-pb-80">
      <div class="container-fluid">
        <div
          class="rs-carousel owl-carousel"
          data-loop="true"
          data-items="3"
          data-margin="5"
          data-autoplay="true"
          data-autoplay-timeout="8000"
          data-smart-speed="2000"
          data-dots="true"
          data-nav="true"
          data-nav-speed="false"
          data-mobile-device="1"
          data-mobile-device-nav="false"
          data-mobile-device-dots="false"
          data-ipad-device="2"
          data-ipad-device-nav="false"
          data-ipad-device-dots="false"
          data-ipad-device2="2"
          data-ipad-device-nav2="false"
          data-ipad-device-dots2="false"
          data-md-device="3"
          data-md-device-nav="true"
          data-md-device-dots="true"
        >
          <div class="player-item">
            <div class="player-img">
              <img src="/static/images/volley-girls.png" alt="" />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img src="/static/images/Rectangle 41.png" alt="" />
            </div>
          </div>
          <div class="player-item">
            <div class="player-img">
              <img src="/static/images/Rectangle 508.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="socials">
        <div class="row px-4">
          <div class="col-12 col-sm-6">
            <p class="pt-1 title">Поделиться</p>
          </div>
          <div class="col-12 col-sm-6 icons">
            <a href="#"><i class="fab fa-vk"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-telegram-plane"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
