.h3,
h3 {
  font-size: 1.4rem;
}

a,
a:hover {
  text-decoration: none;
  color: #1d66c1;
}

@media (max-width: 576px) {
  .h3,
  h3 {
    font-size: 1.2rem;
  }
}

.nav-item,
.outer-navigation,
.inner-navigation {
  cursor: pointer;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 h6,
.h6 {
  font-weight: bold;
  color: black;
}
