$dark-blue: #032f5e;
$light-blue: #1d66c1;
$shiny-light-blue: #1488cc;
$shiny-dark-blue: #2b32b2;
$blue-variant: #4c5cb0;
$black: #000000;
$dark-gray: #a0a0a0;
$bg-color: #f6f6f8;
$white-variant: #f0f0f0;
