@import "colors";
@import "base";

/*_____________________________
 Styles for Главная/page2
*/

.page-content {
  background-color: $bg-color;

  // BODY COLOUR SECTION

  .body-colour {
    .controls {
      h1 {
        font-size: 1rem;
      }
      h6 {
        font-size: 0.8rem;
        color: $dark-gray;
      }
    }

    @media (max-width: 768px) {
      [class^="col-"],
      [class*=" col-"] {
        margin: 1rem 0;
      }
    }

    .card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      height: 100%;

      .card-title,
      .card-overlay-title {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    @media (max-width: 576px) {
      .first-card {
        height: unset;
      }
    }

    .advert {
      background-image: url("../images/Group490.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      position: relative;
      height: 8rem;
      margin-top: 5rem;

      .text {
        margin-left: 18%;
        p {
          font-size: 1rem;
          color: rgba($color: white, $alpha: 0.9);
        }
        .btn {
          font-size: 0.8rem;
          background-color: rgba($color: white, $alpha: 0.2);
          color: rgba($color: white, $alpha: 0.9);
          padding: 0.7rem 1.5rem;
        }
      }

      img {
        position: absolute;
        object-fit: cover;
        bottom: 0;
      }

      #image1 {
        left: 0;
        margin-left: 1rem;
        width: 20%;
      }

      #image2 {
        right: 0;
        margin-right: 2rem;
        width: 25%;
      }

      @media (max-width: 576px) {
        display: none !important;
      }
    }

    @media (max-width: 576px) {
      padding-bottom: 0;
    }
  }

  // VIDEO SECTION

  .videos {
    background-image: url("../images/Group\ 478.png");
    padding: 1rem;

    .video-controls {
      color: white;
      .title {
        font-size: 1rem;
        font-weight: bold;
      }
      .control {
        font-size: 0.8rem;
      }
    }

    .card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: unset;
      border: none;
    }

    // Video Cards

    .video-cards {
      :nth-child(1) .card {
        background-image: url(../images/Group485.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group484.png);
      }

      .play-button {
        color: white;
        font-size: 1.5rem;
        padding: 3rem 0;
        cursor: pointer;

        span {
          padding: 0.7rem 1rem;
          background-color: rgba($color: white, $alpha: 0.2);
          border-radius: 5px;
        }
      }
      .headline {
        color: white;

        h1 {
          font-size: 1rem;
        }
        h6 {
          font-size: 0.8rem;
          opacity: 0.6;
        }
      }
    }

    //  News Cards

    .news-cards {
      :nth-child(1) .card {
        background-image: url(../images/Group486.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group488.png);
      }
      :nth-child(3) .card {
        background-image: url(../images/Group489.png);
      }

      .card {
        padding-top: 3rem;
        background-position: center top;
        box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
      }

      .headline {
        color: white;

        h1 {
          font-size: 1rem;
        }
        h6 {
          font-size: 0.8rem;
          opacity: 0.6;
        }

        @media (min-width: 576px) and (max-width: 768px) {
          h1 {
            font-size: 0.8rem;
          }
          h6 {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  // NEWS ARTICLES SECTION

  .news-articles {
    .news-controls {
      .title {
        font-size: 1rem;
        font-weight: bold;
      }
      .control {
        font-size: 0.8rem;
        color: $dark-gray;
      }
    }

    // Articles
    .article {
      width: 100%;
      .card {
        border: none;
        border-radius: 5px;

        .picture {
          padding: 0;
          img {
            object-fit: cover;
          }
        }
        .card-text {
          font-size: 0.8rem;
          color: $blue-variant;
        }
        .card-title {
          font-size: 1rem;
        }
      }
    }

    // Cards
    .btncards {
      :nth-child(1) .card {
        background-image: url(../images/Group482.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group481.png);
      }
      :nth-child(3) .card {
        background-image: url(../images/Group480.png);
      }
      :nth-child(4) .card {
        background-image: url(../images/Group479.png);
      }

      .card {
        border: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: unset;

        @media (min-width: 992px) {
          padding-top: 4rem;
        }

        .card-body {
          .card-text {
            font-size: 0.8rem;
            color: white;
          }
          .card-title {
            font-size: 1rem;
            color: white;
          }
          .btn {
            font-size: 0.8rem;
            color: white;
            padding: 0.5rem 3rem;
            background-color: rgba($color: white, $alpha: 0.1);
          }
        }
      }
    }
  }
}

/*_____________________________
 Styles for Главная/page1
*/

.home {
  .main-card {
    .text-muted {
      color: $dark-gray;
    }
  }
}

/*_____________________________
 Styles for медиа pages
*/

.albums {
  @media (max-width: 768px) {
    .media-sort {
      display: none;
    }
    .sub-title {
      text-align: center;
    }
  }

  .inner-navigation {
    display: none;
    .list-group-item:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .list-group-item:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    a {
      color: $blue-variant;
    }
  }

  @media (max-width: 768px) {
    .outer-navigation {
      display: none;
    }
    .inner-navigation {
      display: flex;
    }
  }

  .last-gallery-button:last-child {
    margin: 0 auto;
    width: 32%;

    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 576px) {
      width: 100%;
      margin: auto 8px;
      padding: unset;
      padding-top: 0.8rem;
    }
  }
}

/*_____________________________
 Styles for маркетинг pages
*/
.socials {
  @media (max-width: 576px) {
    .title {
      display: none;
    }
    .icons {
      padding-top: 0;
    }
  }
}

/*_____________________________
 Styles for nonck nrpok pages
*/

.team-cards {
  .filter-btn {
    color: white;
    background-color: $light-blue;
    border-color: $light-blue;
  }

  .card.card-shadow:first-child,
  .card.cardshadow:hover {
    border-left: 4px solid $light-blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

/*_____________________________
 Styles for игры pages
*/
.team-info {
  h4 {
    font-size: 1.5rem;
  }

  .time {
    p {
      color: $light-blue;
    }
    h4 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .col-4 {
      flex-direction: column;
    }

    .first-team-name {
      flex-direction: column-reverse;
    }

    h4 {
      font-size: 1.2rem;
    }
    .time {
      h4 {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 400px) {
    word-wrap: break-word;
    img {
      width: 50%;
    }
    h4,
    .time h4 {
      font-size: 1rem;
    }
    p {
      font-size: 80%;
    }
  }
}

.team-controls {
  h1 {
    color: $light-blue;
    font-size: 1.5rem;
    font-weight: bold;
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
    color: $dark-gray;
  }
}
