@import "colors";
@import "base";

/*_____________________________
 Styles for Главная/page2
*/

.margin-class {
  margin: 0 -7px 0 -5px;
}

.carousel-control-next {
  opacity: 1;
  top: 20%;
  left: 3%;
  .arrow {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.5rem;
    border: none;

    & > * {
      color: #fff !important;
    }
  }

  @media (min-width: 1700px) {
    top: 50%;
    left: 12%;
  }

  @media (min-width: 1400px) and (max-width: 1700px) {
    top: 35%;
  }

  @media (min-width: 1200px) and (max-width: 1400px) {
    top: 25%;
  }
}

@media (max-width: 992px) {
  .carousel-control-next {
    top: 30%;
  }
  .carousel-indicators {
    display: none;
  }
}

@media (max-width: 768px) {
  .carousel-control-next {
    display: none;
  }
}

.bg-text {
  position: absolute;
  top: 45%;
  color: white;
  font-size: 2.5rem;
  padding: 0 10% 0 5%;

  @media (min-width: 1700px) {
    top: 70%;
    padding: 0 20% 0 5%;
  }

  @media (min-width: 1400px) and (max-width: 1700px) {
    top: 60%;
  }

  @media (max-width: 1400px) {
    padding: 0 10%;
    line-height: 1.3;
    top: 55%;
  }

  @media (max-width: 1200px) {
    top: 50%;
  }

  @media (max-width: 992px) {
    padding: 0 10%;
    top: 55%;
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    padding: 0;
    font-size: 1.7rem;
  }

  @media (max-width: 576px) {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  @media (max-width: 310px) {
    font-size: 1rem;
    line-height: 1.3;
    top: 25%;
  }
}

.main-header-item .progress-bar {
  width: 95%;
  height: 4px;
  background: #ccc;
  position: absolute;
  width: 24%;
  bottom: 10%;
}

.main-header-item.active .progress-bar {
  animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
  from {
    width: 0;
  }
  to {
    width: 24%;
  }
}

@keyframes progressAnimationStrikeRes {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

@keyframes progressAnimationStrikeRes2 {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}

@media (min-width: 1400px) and (max-width: 1690px) {
  .main-header-item .progress-bar {
    width: 20%;
  }
  .main-header-item.active .progress-bar {
    animation: progressAnimationStrikeRes 6s;
  }
}

@media (min-width: 1691px) {
  .main-header-item .progress-bar {
    width: 15%;
  }
  .main-header-item.active .progress-bar {
    animation: progressAnimationStrikeRes2 6s;
  }
}

.tns-outer {
  margin: 0 -5px;
}

.page-content {
  background-color: $bg-color;

  // BODY COLOUR SECTION
  .body-colour {
    .controls {
      h1 {
        font-size: 1.5rem;
      }
      h6 {
        font-size: 1rem;
        color: $dark-gray;
      }
    }

    .card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      // height: 450px;

      .card-title,
      .card-overlay-title {
        font-size: 1rem;
        line-height: 1.5;
      }
    }

    @media (max-width: 576px) {
      .first-card {
        height: unset;
      }
    }

    .advert {
      background-image: url("../images/Group490.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      position: relative;
      height: 8rem;
      margin-top: 6rem;

      .text {
        margin-left: 18%;
        p {
          font-size: 1rem;
          color: rgba($color: white, $alpha: 0.9);
        }
        .btn {
          font-size: 0.8rem;
          background-color: rgba($color: white, $alpha: 0.2);
          color: rgba($color: white, $alpha: 0.9);
          padding: 0.7rem 1.5rem;
        }
      }

      img {
        position: absolute;
        object-fit: cover;
        bottom: 0;
      }

      #image1 {
        left: 0;
        margin-left: 1rem;
        width: 20%;
      }

      #image2 {
        right: 0;
        margin-right: 2rem;
        width: 25%;
      }

      @media (max-width: 576px) {
        display: none !important;
      }
    }

    @media (max-width: 576px) {
      padding-bottom: 0;
      margin-top: 4rem;
    }
  }

  // VIDEO SECTION

  .videos {
    background-image: url("../images/Group\ 478.png");
    padding-bottom: 1rem;

    .video-controls {
      color: white;
      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .control {
        font-size: 1rem;
      }
    }

    .card {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: unset;
      border: none;
      height: 220px;
    }

    // Video Cards

    .video-cards {
      :nth-child(1) .card {
        background-image: url(../images/Group485.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group484.png);
      }

      .play-button {
        color: white;
        font-size: 1.5rem;
        padding: 3rem 0;
        cursor: pointer;

        span {
          padding: 0.7rem 1rem;
          background-color: rgba($color: white, $alpha: 0.2);
          border-radius: 5px;
        }
      }
      .headline {
        color: white;

        h1 {
          font-size: 1rem;
        }
        h6 {
          font-size: 0.8rem;
          opacity: 0.6;
        }
      }
    }

    //  News Cards

    .news-cards {
      :nth-child(1) .card {
        background-image: url(../images/Group486.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group488.png);
      }
      :nth-child(3) .card {
        background-image: url(../images/Group489.png);
      }

      .card {
        padding-top: 3rem;
        background-position: center top;
        box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
      }

      .headline {
        color: white;
        padding-top: 5rem;

        h1 {
          font-size: 1rem;
        }
        h6 {
          font-size: 0.8rem;
          opacity: 0.6;
        }

        @media (min-width: 576px) and (max-width: 768px) {
          h1 {
            font-size: 0.8rem;
          }
          h6 {
            font-size: 0.6rem;
          }
        }
      }
    }
  }

  // NEWS ARTICLES SECTION

  .news-articles {
    .news-controls {
      .title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .control {
        font-size: 1rem;
        color: $dark-gray;
      }
    }

    // Articles
    .article {
      width: 100%;
      .card {
        border: none;
        border-radius: 5px;

        .picture {
          padding: 0;
          img {
            object-fit: cover;
          }
        }
        .card-text {
          font-size: 0.8rem;
          color: $blue-variant;
        }
        .card-title {
          font-size: 1rem;
        }
      }
    }

    // Cards
    .btncards {
      :nth-child(1) .card {
        background-image: url(../images/Group482.png);
      }
      :nth-child(2) .card {
        background-image: url(../images/Group481.png);
      }
      :nth-child(3) .card {
        background-image: url(../images/Group480.png);
      }
      :nth-child(4) .card {
        background-image: url(../images/Group479.png);
      }

      .card {
        border: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: unset;

        @media (min-width: 992px) {
          padding-top: 4rem;
          height: 220px;
        }

        .card-body {
          .card-text {
            font-size: 0.8rem;
            color: white;
          }
          .card-title {
            font-size: 1rem;
            color: white;
          }
          .btn {
            font-size: 0.8rem;
            color: white;
            padding: 0.5rem 3rem;
            background-color: rgba($color: white, $alpha: 0.1);
          }
        }
      }
    }
  }
}

/*_____________________________
 Styles for Главная/page1
*/

.home {
  .main-card {
    .text-muted {
      color: $dark-gray;
    }
  }
}

/*_____________________________
 Styles for медиа pages
*/

.albums {
  @media (max-width: 768px) {
    .media-sort-first {
      display: none;
    }
    .heading-class {
      text-align: center;
    }
  }

  .outer-navigation {
    a {
      font-weight: bold !important;
    }
  }

  .inner-navigation {
    display: none;

    a {
      font-weight: bold !important;
      color: $light-blue !important;
      &:hover,
      &.active {
        border-bottom: 4px solid transparent;
        border-image: linear-gradient(
          90deg,
          $shiny-light-blue 0%,
          $shiny-dark-blue 100%
        );
        border-image-slice: 1;
        border-right: none;
        border-top: none;
        border-left: none;
      }
    }

    .list-group-item:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .list-group-item:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  @media (max-width: 768px) {
    .outer-navigation {
      display: none;
    }
    .inner-navigation {
      display: flex;
    }
  }

  .last-gallery-button:last-child {
    margin: 0 auto;
    width: 32%;

    @media (max-width: 768px) {
      width: 50%;
    }
    @media (max-width: 576px) {
      width: 100%;
      margin: auto 8px;
      padding: unset;
      padding-top: 0.8rem;
    }
  }
}

/*_____________________________
 Styles for маркетинг pages
*/
.socials {
  @media (max-width: 576px) {
    .title {
      display: none;
    }
    .icons {
      padding-top: 0;
    }
  }
}

/*_____________________________
 Styles for поиск игроков pages
*/

.team-cards {
  .search {
    button {
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }
  }

  .filter-btn {
    color: white;
    background-color: $light-blue;
    border-color: $light-blue;
  }

  .card.card-shadow:first-child,
  .card.cardshadow:hover {
    border-left: 4px solid $light-blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .btns {
    button {
      padding: 0.8rem 1.5rem;
    }
  }

  @media (max-width: 400px) {
    .search-btn {
      display: none !important;
    }
    .search-button {
      display: block !important;
    }
    .btns {
      button {
        width: 100%;
      }
    }
    .dropdown-area {
      align-items: start !important;
      flex-direction: column;

      & > div {
        max-width: 100% !important;
      }
    }
  }
}

/*_____________________________
 Styles for игры pages
*/
.team-info {
  h4 {
    font-size: 1.5rem;
  }

  .time {
    p {
      color: $light-blue;
    }
    h4 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    .col-4 {
      flex-direction: column;
    }

    h4 {
      font-size: 1.2rem;
      margin-top: 0.5rem;
    }
    .time {
      h4 {
        font-size: 1.5rem;
      }
    }
  }

  @media (max-width: 576px) {
    word-wrap: break-word;

    .first-team-name {
      flex-direction: column-reverse;
    }

    .second-team-name {
      flex-direction: column;
    }

    img {
      width: 50%;
    }
    h4,
    .time h4 {
      font-size: 1rem;
    }
    p {
      font-size: 80%;
    }
  }
}

.team-controls {
  h1 {
    color: $light-blue;
    font-size: 1.5rem;
    font-weight: bold;
  }
  h6 {
    font-size: 1rem;
    font-weight: 400;
    color: $dark-gray;
  }
}

.team-margin {
  @media (min-width: 992px) {
    margin-right: 9%;
  }

  @media (max-width: 992px) {
    margin-right: 12%;
  }

  @media (max-width: 576px) {
    margin-right: 0;
  }
}

/*_____________________________
 Styles for киберзона pages
*/
.kiberzone-form {
  @media (max-width: 768px) {
    input {
      width: 100% !important;
    }
  }
}

.kiberzone-btns {
  div {
    button {
      padding: 1rem 2rem;
    }
    @media (max-width: 768px) {
      text-align: left !important;
      padding: unset;
      button {
        padding: 0.5rem 2rem;
      }
    }
    @media (max-width: 576px) {
      button {
        width: 100%;
      }
    }
  }
}

.kiberzone-btn {
  padding: 1rem 5rem;

  @media (max-width: 400px) {
    padding: 1rem 2rem;
    width: 100%;
  }
}

.kib-btns {
  button {
    padding: 0.8rem 1.5rem;
    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

/*_____________________________
 Styles for турниры pages
*/
.tournir-header-background {
  p {
    color: $dark-gray;
    margin-bottom: 2px !important;
  }
  h4 {
    font-weight: 400;
  }
  @media (max-width: 768px) {
    .header-info {
      display: block !important;
    }
  }
}

/*_____________________________
 Styles for спортклуб pages
*/

@media (max-width: 576px) {
  .new-margin {
    margin-right: 10%;
  }
}

.bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  h6 {
    color: $dark-gray;
  }
}

.bg1 {
  background-image: url(../images/Group451.png);
}

.bg2 {
  background-image: url(../images/Group453.png);
}

.page-navigation {
  padding: 0 10%;
  background-color: white;

  a {
    border: none;
    color: $blue-variant;

    & .active,
    &:hover {
      border-bottom: 4px solid $dark-blue;
      color: $dark-blue;
      font-weight: bolder !important;
    }
  }
}

/*_____________________________
 Styles for маркетинг pages
*/
.date-margin {
  .position-bottom * {
    color: $light-blue !important;
  }
}

/*_____________________________
 Styles for Мероприятия pages
*/
.table .team-info {
  h4 {
    font-size: 1.2rem;
  }

  img {
    width: 50px;
    height: unset;
  }

  .time {
    p {
      color: $dark-gray;
      font-size: 0.8rem;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      background-image: linear-gradient(to right, $light-blue, $dark-blue);
      background-clip: text;
      fill: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }

  @media (max-width: 768px) {
    .col-4 {
      flex-direction: column;
    }
  }

  @media (max-width: 400px) {
    word-break: break-all;
    img {
      width: 50%;
    }
    h4,
    .time h4 {
      font-size: 0.9rem;
    }
    p {
      font-size: 80%;
    }
  }
}

/*_____________________________
 Styles for секция pages
*/

.section-main {
  width: 100%;

  .col-12.col-sm-6 .sport-data {
    background-image: url(../images/Group458.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 1rem 0 1rem 1rem;
    height: 100%;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
    h4 {
      padding-top: 0.8rem;
      color: white;
      width: 50%;
    }

    @media (max-width: 768px) {
      img {
        width: 2rem;
        height: 2rem;
      }
      h4 {
        font-size: 1.1rem;
        padding-top: 0.5rem;
      }
    }
  }

  .col-12.col-sm-6:nth-child(1) .sport-data {
    background-image: url(../images/Group459.png);
  }

  .col-12.col-sm-6:nth-child(2) .sport-data {
    background-image: url(../images/Group457.png);
  }
}

/*_____________________________
 Styles for сборные pages
*/

.mirea {
  @media (max-width: 576px) {
    word-wrap: unset;
    img {
      height: 50px;
      width: 50px;
    }
    .start {
      font-size: 1rem;
    }
  }
}

.new-albums {
  @media (max-width: 768px) {
    .inner-navigation {
      display: none;
    }
    .outer-navigation {
      display: block;
    }
  }

  @media (min-width: 512px) {
    .outer-navigation {
      display: none;
    }
    .inner-navigation {
      display: flex;
    }
  }
}

.match-details {
  .card {
    border: none;
    margin-bottom: 1rem;
  }
  .card2 {
    border-left: 4px solid transparent;
    border-image: linear-gradient(
      to bottom,
      $shiny-light-blue,
      $shiny-dark-blue
    );
    border-image-slice: 1;
  }

  .mirea .text-center h5 {
    font-weight: bolder;
    font-size: 1.5rem;
    background-image: linear-gradient(
      to right,
      $shiny-light-blue,
      $shiny-dark-blue
    );
    background-clip: text;
    fill: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  .match-time {
    p:nth-child(1) {
      font-weight: bold;
      background-image: linear-gradient(
        to right,
        $shiny-light-blue,
        $shiny-dark-blue
      );
      background-clip: text;
      fill: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }
  @media (max-width: 576px) {
    .match-time {
      justify-content: center;
      text-align: center;
      img {
        display: none;
      }
    }
  }
}

.picture-card {
  .card {
    border: none;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    padding: 1rem;
  }
  &:nth-child(1) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor1.png);
  }
  &:nth-child(2) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor2.png);
  }
  &:nth-child(3) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor3.png);
  }
  &:nth-child(4) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor4.png);
  }
  &:nth-child(5) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor5.png);
  }
  &:nth-child(6) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor6.png);
  }
  &:nth-child(7) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor7.png);
  }
  &:nth-child(8) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor8.png);
  }
  &:nth-child(9) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor9.png);
  }
  &:nth-child(10) .card {
    background-image: url(/static/images/Rectangle464.png),
      url(/static/images/sbor10.png);
  }
}

#new-card {
  .card.card-shadow {
    border: none;
    border-radius: 5px;
  }
}

/*_____________________________
 Styles for Клубы pages
*/

.name-card .card {
  border: none;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  padding: 1rem;
  background-image: url(/static/images/Rectangle464.png),
    url(/static/images/Rectangle463.png);
}

.new-match {
  .match-details {
    p:nth-child(1) {
      font-weight: unset;
      background-image: none;
      background-clip: unset;
      fill: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
      -moz-background-clip: unset;
      -moz-text-fill-color: unset;
    }
    .match-time {
      .match-name {
        font-weight: 500 !important;
      }
      .league-name {
        color: $dark-gray;
      }
      .blue {
        color: $blue-variant;
        font-size: 1.2rem;
      }
      @media (max-width: 576px) {
        justify-content: left;
        text-align: left;
        img {
          display: none;
        }
      }
    }
  }
}
// General Styles

.inner-navigation.list-group {
  flex-direction: row !important;
  overflow-x: scroll;
}

.inner-navigation.bordered {
  .list-group-item:last-child {
    border-radius: 0 !important;
  }
  .list-group-item-action {
    width: unset;
    align-items: center;
  }

  a {
    color: $dark-blue;
    opacity: 0.6;
    font-weight: 400;
    font-size: 1rem;

    &:hover,
    &.active {
      font-weight: bold;
      position: relative;
      border-bottom: none;
      opacity: 1;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 60%;
        border-bottom: 4px solid $dark-blue;
      }
    }
  }
}

.list-group-item + .list-group-item.active {
  margin-top: 0 !important;
  border-top-width: 0 !important;
}

// Fixed Heights for cards

.card.card-shadow,
.joined-cards {
  @media (min-width: 768px) {
    height: 350px !important;
  }
  @media (max-width: 768px) {
    height: 435px !important;
  }
  @media (max-width: 450px) {
    height: 365px !important;
  }
}

.card.card-shadow.zoom-img.new-design,
.card-shadow.new-design {
  @media (min-width: 768px) {
    height: 350px !important;
  }
  @media (max-width: 768px) {
    height: 320px !important;
  }
  @media (max-width: 576px) {
    height: 440px !important;
  }
  @media (max-width: 450px) {
    height: 365px !important;
  }
}

.profile-picture img {
  min-height: 250px;
  object-fit: cover;
}

.owl-nav {
  button {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white !important;
    border-radius: 5px;
    color: $blue-variant !important;
  }
}

.rs-team {
  .owl-next {
    right: 1%;
    top: 40% !important;
  }
  .owl-prev {
    left: 1%;
    top: 40% !important;
  }

  .owl-carousel .owl-item img {
    height: 250px;
    object-fit: cover;
  }
}

.rs-video,
.rs-image {
  position: relative;
  button {
    position: absolute;

    &.owl-next {
      right: 0;
      top: 30% !important;
      margin-right: -4rem !important;
    }
    &.owl-prev {
      left: 0;
      top: 30% !important;
      margin-left: -4rem !important;
    }
  }
}

.card-body.flex-column {
  overflow: auto;
}

.joined.card-deck {
  .col-sm-6 {
    .card.first-card,
    .card.zoom-img {
      margin: auto 0.5rem !important;
      @media (max-width: 576px) {
        margin: auto 0 !important;
      }
    }
  }
}

.blue-text {
  color: $light-blue;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.table-responsive {
  overflow-x: scroll;
  tbody {
    th {
      min-width: 150px;
    }
  }
}

.table {
  margin-bottom: 0 !important;
}

.new-design.card-height {
  @media (min-width: 992px) {
    height: 185px !important;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    height: 265px !important;
  }
  @media (max-width: 768px) {
    height: unset !important;
  }
}
