{% extends "layout.html" %} {% block content %}
<div class="tournir-header-background">
  <div class="container">
    <div class="row text-center pt-5 pb-3">
      <div class="col-12">
        <img class="img-fluid" src="/static/images/rocketLeague.png" />
      </div>
      <div class="col-12">
        <div class="h5">Rocket League</div>
      </div>
      <div class="col-12">
        <div class="h2">PVP Weekly Clans Brawl: Bravo #27</div>
      </div>
    </div>
    <div class="row text-center pb-3">
      <div class="col-12">
        <p class="font-weight-light">До конца регистрации</p>
        <h4>19 ч. 15 мин.</h4>
      </div>
      <div class="col-12">
        <button class="btn btn-transparent">
          Зарегистрироваться на турнир
        </button>
      </div>
    </div>
    <div class="row pb-5 justify-content-center">
      <div class="header-info d-flex text-center text-md-left">
        <div class="col-12 col-md-4">
          <p class="font-weight-light">Дата проведения</p>
          <h4>22 ноября - 26 ноября 2020</h4>
        </div>
        <div class="col-12 col-md-2">
          <p class="font-weight-light">Кол-во участников</p>
          <h4>8 команд</h4>
        </div>
        <div class="col-12 col-md-2">
          <p class="font-weight-light">Формат турнира</p>
          <h4>5х5</h4>
        </div>
        <div class="col-12 col-md-4">
          <p class="font-weight-light">Организатор</p>
          <h4>Warface Esports League</h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="body-colour">
  <div class="container">
    <div class="inner-navigation w-100 list-group text-center text-blue pb-4">
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-center
          active
        "
      >
        <div class="align-self-center">Информация</div>
      </a>
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-center
        "
      >
        <div class="align-self-center">Статистика</div>
      </a>
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-center
        "
      >
        <div class="align-self-center">Участники</div>
      </a>
      <a
        href="#"
        class="
          list-group-item list-group-item-action
          d-flex
          justify-content-center
        "
      >
        <div class="align-self-center">Правила</div>
      </a>
    </div>

    <p class="sportsclub-title">Описание турнира</p>
    <p class="sportsclub-main-text">
      Nunc luctus tristique cras sed imperdiet in eget. Lorem amet, risus augue
      mauris iaculis mi. Aliquet eget leo posuere semper nec at ac, etiam. Orci
      tristique fusce aenean eget et id pellentesque in. Vivamus nisl bibendum
      tristique tristique amet, in lectus felis. At eget aenean vitae enim. Et,
      pellentesque neque commodo cursus <br />
      Cursus maecenas placerat facilisis quisque pretium ut euismod. Sit diam,
      nunc luctus at. Libero egestas urna nisi pulvinar sit libero ut imperdiet.
      Nunc mi cum nunc, sit scelerisque aliquam elementum, nunc. Morbi suscipit
      quam et facilisis interdum tellus enim, neque. Faucibus nullam vitae
      fringilla cras phasellus tincidunt bibendum ante. Fermentum nunc, blandit
      donec phasellus metus ultricies arcu turpis. Elementum nulla viverra non
      porttitor nascetur. Mattis habitant tempus, urna commodo facilisis
      fermentum. <br />
      Urna nulla sit netus ullamcorper lobortis. In accumsan fermentum fermentum
      ipsum blandit egestas. Varius mattis vitae suspendisse in dignissim id
      arcu sed. Sociis sit aliquet at nisl porttitor. Amet nascetur nunc, non
      nam. Sed adipiscing mauris tortor, suspendisse nisi volutpat pellentesque
      nisi et. Laoreet morbi nibh neque eu in sit. Semper quam viverra netus non
      ut pellentesque. Convallis nunc neque, erat tincidunt metus, sit sed.
      <br />
    </p>

    <p class="sportsclub-title">Организаторы</p>

    <div class="row marketing-contacts">
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue p">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue p">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue p">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue p">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue p">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue p">adress@mail.com</p>
        </div>
      </div>
      <div class="col-12 col-sm-6 d-flex">
        <img
          class="img-fluid trainer-img"
          src="/static/images/Rectangle 63.png"
        />
        <div class="">
          <div class="h3">Jenny Wilson</div>
          <p class="text-muted">Должность</p>
          <p class="no-margin-bottom blue p">+7 777 777-77-77</p>
          <p class="no-margin-bottom blue p">adress@mail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
